/**
 *     Attempt to organize all extensions to CSS
 */

/* Add some spacing between buttons */

.login {
    background-color: #F1F1F1 !important;
}
.widget-themis {
    box-shadow: 4px 4px 0 0;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}


.btn-group .btn {
    margin-right: 5px;
}

td.details {
    background: lightgray !important;
}
.page-sidebar > ul > li > a {
    border-top: 1px solid #595959 !important;
}
@media (max-width: 480px) {
    .login .content {
        width: 291px;
    }
}
