/**
 *     Attempt to organize all extensions to CSS
 */

/* Add some spacing between buttons */

.login {
    background-color: #F1F1F1 !important;
}
.widget-themis {
    box-shadow: 4px 4px 0 0;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
.login .content input.m-wrap {
    width:229px;
}


.btn-group .btn {
    margin-right: 5px;
}

td.details {
    background: lightgray !important;
}

div.header span.username {
    font-size: 16px;
}
.header .nav > li.dropdown.user .dropdown-toggle {
    padding: 11px 4px 10px 9px;
}
.page-sidebar > ul > li > a {
    font-size: 16px;
}
