/*
  Box for info and fields, different colors for each
  --------------------------------------------------
*/
.box {
  padding: 14px 8px 14px 8px;
  margin-bottom: 20px;
  border: 2px solid;
}
.box.template-info-box {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.box.revision-group-box {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/*
  Box for all fields in a revision
  --------------------------------
*/
.revision-fields-box {
  min-height: 10px;
}

/*
  Fields in a revision box
  ------------------------
*/
.field-box {
  background-color: #ccc;
  border: 2px solid #777;
  padding: 12px 6px 12px 6px;
  margin-bottom: 10px;
}
.field-box.ui-sortable-placeholder {
  opacity: 0.5;
  min-height: 40px;
}
.field-box .open-response {

}
.field-box .open-response textarea {
  width: 100%;
  resize: none;
}
