/**
 *     Attempt to organize all extensions to CSS
 *     -----------------------------------------
 */

/*
    Tweaking appearance
    -------------------
*/
body {
    background-color: #F1F1F1 !important;
}
.page-content {
    background-color: #FAFAFA;
    margin-left: 223px;
    border-left: 2px solid #EEE !important;

}

.page-title small {
    color: #434343;
}

.header .navbar-inner {
  background-color: #555555 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
/*
    background: rgb(85,85,85);
    background: -moz-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(64,64,64,1) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,85,85,1)), color-stop(100%,rgba(64,64,64,1))) !important;
    background: -webkit-linear-gradient(top, rgba(85,85,85,1) 0%,rgba(64,64,64,1) 100%) !important;
    background: -o-linear-gradient(top, rgba(85,85,85,1) 0%,rgba(64,64,64,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(85,85,85,1) 0%,rgba(64,64,64,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(85,85,85,1) 0%,rgba(64,64,64,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#404040',GradientType=0 ) !important;
*/
}

.header .navbar-inner {
  background-color: #2672EC !important;
}

.header .nav .dropdown-toggle:hover, .header .nav .dropdown.open .dropdown-toggle {
  background-color: #094AB2 !important;
}

/*
    Adding custom widget styles to theme for themis unique appearance & dynamic "fade-in and up" effect
    ---------------------------------------------------------------------------------------------------
*/
.widget-themis {
    position: relative;
    top: 4px;
    left: 4px;
    //opacity: 0.4;
    //border-top: 1px solid #4b8df8 !important;
    border-left: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    border-right: 1px solid lightgray !important;
}

.widget-themis .portlet-body {
    position: relative;
    min-height: 40px;
}
.widget-themis .portlet-body .loading-indicator {
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}
.widget-themis .portlet-body .loading-indicator > div {
    width: 90%;
    margin: 20px auto 0 auto;
}

.loaded .loading-indicator {
    display: none;
}

.widget-themis-finish {

    //position: relative;
    opacity: 1;
    //border-top: 1px solid #4b8df8 !important;
    border-left: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    border-right: 0px solid lightgray !important;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.35);// !important;
}

ul.breadcrumb {
    box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 0px 0px !important;
}

/*
    Customizing login page & fixing css related bug with new login widget on mobile viewport widths
    -----------------------------------------------------------------------------------------------
*/
.login {
    background-color: #F1F1F1 !important;
}
.login .content input.m-wrap {
    width:229px;
}
@media (max-width: 480px) {
    .login .content {
        width: 291px;
    }
}

/*
    Universally differentiate detail panes in datatables plugin
    -----------------------------------------------------------
*/
td.details {
    background: lightgray !important;
}

/*
    Customize look and feel of menu
    -------------------------------
*/
/*
.page-sidebar > ul > li > a {
    border-top: 1px solid #595959 !important;
}
*/
.page-sidebar > ul > li > a {
    font-size: 14px;
}
.page-sidebar > ul > li.active > a {
    background: #4b8df8 !important;
}
.page-sidebar > ul > li > ul.sub > li.active > a, .page-sidebar > ul > li > ul.sub > li > a:hover {
    color: #000 !important;
}
.page-sidebar > ul > li.active > a .selected{
    background-image:url('/assets/img/sidebar-menu-arrow-blue.png');
}

/*
    Fix menu for proper display with no user-picture
    ------------------------------------------------
*/
div.header span.username {
    font-size: 16px;
}
.header .nav > li.dropdown.user .dropdown-toggle {
    padding: 11px 4px 10px 9px;
}

/*
    Make footer match header
    ------------------------
*/
.footer {
    background: #434343 !important;
}

/*
    Make sure page content has enough padding to clear the statically positioned footer
    -----------------------------------------------------------------------------------
*/
.page-content {
    padding-bottom: 40px;
}

.bold {
    font-weight: 700;
}


/*
    Make certain items flow inline within contents
    ----------------------------------------------
*/
.inline-content {
    white-space: nowrap;
}
.inline-content > *{
    display: inline-block;
}


/*
    Give a simple universal appearance of data that
    is out of sync with the server
    ----------------------------------------------
*/
.stale {
    opacity: 0.5;
}


/*
    Custom appearances to go with angularjs form
    validations.
    NOTE: These classes are applied to <form> and
    the individual input elements
    ----------------------------------------------
*/
.ng-pristine span, .ng-pristine input, .ng-pristine label {
    color: #000 !important;
    border-color: #000 !important;
}
.ng-pristine span > i, .ng-pristine .help-inline {
    display: none !important;
}



.error i.icon-ok {
    display: none !important;
}

.success i.icon-exclamation-sign, .success .help-inline {
    display: none !important;
}


/*
    Minor tweaks to datatables appearance
    ----------------------------------------------
*/
.DataTables_sort_wrapper th {
    color: #000;
}
.DataTables_sort_wrapper .DataTables_sort_icon {
    display: none;
}


.dataTables_wrapper .row-fluid {
    min-height: 0 !important;
}
.dataTables_wrapper .row-fluid div.span6{
    min-height: 0 !important;
}
.dataTables_wrapper .dataTables_length {
    padding-top: 5px;
}
div.dataTables_length select {
  margin-bottom: 2px;
}

/*
  Box for info and fields, different colors for each
  --------------------------------------------------
*/
.box {
  padding: 14px 8px 14px 8px;
  margin-bottom: 20px;
  border: 2px solid;
}
.box.template-info-box {
  /*
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  */
  color: #666;
  background-color: #EEE;
  border-color: #DDDDDD;
}
.box.revision-group-box {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/*
  Box for all fields in a revision
  --------------------------------
*/
.revision-fields-box {
  min-height: 10px;
}

/*
  Fields in a revision box
  ------------------------
*/
.field-box {
  background-color: #ccc;
  border: 2px solid #777;
  padding: 12px 6px 12px 6px;
  margin-bottom: 10px;
}
.field-box.ui-sortable-placeholder {
  opacity: 0.5;
  min-height: 40px;
}
.field-box.ui-sortable-helper {
  opacity:0.95;
}
.field-box .open-response {

}
.field-box .open-response textarea {
  width: 100%;
  resize: none;
}

/*
  Tweaking twitter bootstrap for special situations
  -------------------------------------------------
*/
ul.nav .dropdown-submenu > .dropdown-menu {
  margin-top:0 !important;
  margin-left:0 !important;
}
.dropdown-submenu.bootstrap-menu-bar > a:after {
  margin-right: 8px;
}

/*
  Enabling Sub-Porlets to have different title-bar colors than their parents
  --------------------------------------------------------------------------
*/

.portlet.box.green.sub-portlet .portlet-title {
  background-color: #35aa47 !important;
}

.portlet.box.blue.sub-portlet .portlet-title {
  background-color: #4b8df8 !important;
}

.color-red {
  color: #e02222 !important;
}
.color-green {
  color: #35aa47 !important;
}
