.widget-themis-finish.portlet.box.blue(data-animate-in=""
                                       data-ng-controller = "ControllerWidgetScheduler")

  .portlet-title
    h4
      span Exercise Schedule
  .portlet-body
    .row-fluid(data-ng-show = "true")
      .span3(style = "padding-bottom:10px;")
        .span6(data-ng-init = "activeViewType = 'calendar'")
          button.btn.blue.btn-block(data-ng-show  = "activeViewType == 'calendar'"
                                    data-ng-click = "activeViewType = 'list'")
            i.icon-list
            |&nbsp;List
          button.btn.blue.btn-block(data-ng-show  = "activeViewType == 'list'"
                                    data-ng-click = "activeViewType = 'calendar'"
                                    style         = "margin-top:0;")
            i.icon-calendar
            |&nbsp;Calendar

        .span6
          button.btn.green.btn-block(data-ng-hide    = "viewModel.showNewExerciseForm"
                                     data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
                                     data-ng-click   = "viewModel.showNewExerciseForm = true")
            i.icon-plus.m-icon-white
            |&nbsp;New
    



    .row-fluid(style           = "display:none;"
               data-ng-animate = "{show:'slideDown', hide:'slideUp'}"
               data-ng-show    = "viewModel.showNewExerciseForm"
               data-ng-include = "'viewPartialSchedulerAddExerciseForm'")




    .row-fluid
      .span12

        .portlet.box.grey(data-ng-show = "activeViewType == 'list'"
                          style        = "margin-bottom:0;")
          .portlet-title
            h4
              span List
          .portlet-body.no-wrapper
            div(data-ng-include = "'viewWidgetTimeline'")

        .portlet.box.grey(data-ng-show = "activeViewType == 'calendar'"
                          style        = "margin-bottom:0;")
          .portlet-title
            h4
              span Calendar
          .portlet-body
            div(data-calendar       = "data-calendar"
              data-activate-watch   = "!(viewModel.routeParams.eventUid || viewModel.showNewExerciseForm)"
              data-options          = "viewModel.fullCalendarOptions"
              data-refetch-on-post  = "event"
              data-refetch-on-put   = "event"
              data-update-on-change = "viewModel.fullCalendarOptions.changeIncrementor")
