<div
  data-ng-controller = "ControllerWidgetSchedulerAddEvent"
  class              = "span12">
  <div
    data-ng-class   = "{'green sub-portlet':newEventForm.$valid, 'grey':newEventForm.$invalid}"
    class           = "portlet box">

    <div class="portlet-title">
      <h4><span>Add Exercise</span></h4>
    </div>

    <div class="portlet-body form">
      <form
        name  = "newEventForm"
        class = "form-horizontal">
         <div class="form-wizard">

            <div class="navbar steps">
               <div class="navbar-inner">
                  <ul class="row-fluid nav nav-pills">

                    <li
                      data-ng-class = "{'active':(viewModel.activeWizardStep == 0), 'done':(viewModel.activeWizardStep > 0)}"
                      class         = "span4">
                        <a
                          data-ng-class = "{'active':(viewModel.activeWizardStep == 0)}"
                          data-ng-click = "viewModel.activeWizardStep = 0"
                          class         = "step">
                          <span class="number">1</span>
                          <span class="desc"><i class="icon-ok"></i> Setup</span>
                        </a>
                    </li>

                    <li
                      data-ng-class = "{'active':(viewModel.activeWizardStep == 1), 'done':(viewModel.activeWizardStep > 1)}"
                      class         = "span4">
                        <a
                          data-ng-class = "{'active':(viewModel.activeWizardStep == 1)}"
                          data-ng-click = "viewModel.isStepValid(0) && (viewModel.activeWizardStep = 1)"
                          class         = "step">
                          <span class="number">2</span>
                          <span class="desc"><i class="icon-ok"></i> Template</span>
                        </a>
                    </li>

                    <li
                      data-ng-class = "{'active':(viewModel.activeWizardStep == 2), 'done':(viewModel.activeWizardStep > 2)}"
                      class         = "span4">
                        <a
                          data-ng-class = "{'active':(viewModel.activeWizardStep == 2)}"
                          data-ng-click = "viewModel.isStepValid(1) && (viewModel.activeWizardStep = 2)"
                          class         = "step">
                          <span class="number">3</span>
                          <span class="desc"><i class="icon-ok"></i> Participants</span>
                        </a>
                    </li>

                  </ul>
               </div>
            </div><!-- navbar steps -->

            <div id="bar" class="progress progress-success progress-striped">
               <div class="bar" style="width: {{ (viewModel.activeWizardStep+1) / 3.0 * 100 }}%;"></div>
            </div>

            <div class="tab-content">




              <div
                data-ng-show    = "viewModel.activeWizardStep == 0"
                data-ng-animate = "{show:'fade-in'}"
                data-ng-class   = "{'active':(viewModel.activeWizardStep == 0)}"
                class           = "tab-pane">
                <h3 class="block">Set up a new exercise or quiz</h3>

                <div
                  data-ng-class = "{success:newEventForm.eventType.$valid, error:!newEventForm.eventType.$valid, 'ng-pristine':newEventForm.eventType.$pristine}"
                  class         = "control-group">
                   <label class="control-label">Type</label>
                   <div class="controls">
                      <select
                        data-ng-click = "viewModel.newEventForm.templateUid = false; viewModel.newEventForm.revisionUid = false;"
                        data-ng-model = "viewModel.newEventForm.eventType"
                        name          = "eventType">
                        <option value="mini">Employee Quiz</option>
                        <option value="full">Full Exercise</option>
                      </select>
                   </div>
                </div>


                <div
                  data-ng-class = "{success:newEventForm.name.$valid, error:!newEventForm.name.$valid, 'ng-pristine':newEventForm.name.$pristine}"
                  class         = "control-group">
                   <label class="control-label">Name</label>
                   <div class="controls">
                      <input
                        data-required
                        data-ng-minlength = "{{clientOrmShare.event.model.name.validate.len[0]}}"
                        data-ng-maxlength = "{{clientOrmShare.event.model.name.validate.len[1]}}"
                        data-ng-model     = "viewModel.newEventForm.name"
                        type              = "text"
                        name              = "name"
                        class             = "medium m-wrap">

                        <div class="clear"></div>
                        <span
                          data-ng-show = "newEventForm.name.$error.minlength"
                          class        = "help-inline">
                            Name must be longer than {{clientOrmShare.event.model.name.validate.len[0]}} characters
                        </span>
                        <span
                          data-ng-show = "newEventForm.name.$error.maxlength"
                          class        = "help-inline">
                            Name must be shorter than {{clientOrmShare.event.model.name.validate.len[1]}} characters
                        </span>

                   </div>
                </div>


                <div
                  data-ng-class = "{success:newEventForm.description.$valid, error:!newEventForm.description.$valid, 'ng-pristine':newEventForm.description.$pristine}"
                  class="control-group">
                   <label class="control-label">Description</label>
                   <div class="controls">
                      <textarea

                        name          = "description"
                        data-ng-model = "viewModel.newEventForm.description"
                        class         = "medium m-wrap"
                        rows          = "3"></textarea>
                   </div>
                </div>


                <div
                  data-ng-class = "{success:newEventForm.date.$valid, error:!newEventForm.date.$valid, 'ng-pristine':newEventForm.date.$pristine}"
                  class="control-group">
                   <label class="control-label">Start Date & Time</label>
                   <div class="controls">

                    <input
                      required
                      name          = "date"
                      data-ng-model = "viewModel.newEventForm.date"
                      data-ng-bind  = "viewModel.newEventForm.date"
                      data-ng-show  = "false"
                      type          = "text">

                    <div class="input-append bootstrap-timepicker-component">
                      <input
                        data-date-time-picker
                        readonly   = "readonly"
                        data-form  = "newEventForm.date"
                        data-model = "viewModel.newEventForm.date"
                        class      = "m-wrap m-ctrl-small timepicker-default"
                        type       = "text" />
                      <span class="add-on">
                        <i style="display:inline-block !important;" class="icon-time"></i>
                      </span>
                    </div>

                    <span style="display:inline-block !important;" class="help-inline">TimeZone: {{viewModel.clientTimeZone}}</span>

                   </div>
                </div>
              </div><!-- tab-pane -->









              <div
                data-ng-show    = "viewModel.activeWizardStep == 1"
                data-ng-animate = "{show:'fade-in'}"
                data-ng-class   = "{'active':(viewModel.activeWizardStep == 1)}"
                class           = "tab-pane">

                  <h3 class="block">Choose a template & revision</h3>

                  <div
                    data-ng-class = "{success:newEventForm.templateUid.$valid, error:!newEventForm.templateUid.$valid, 'ng-pristine':newEventForm.templateUid.$pristine}"
                    class         = "control-group">
                    <label class="control-label">Template</label>
                    <div class="controls">

                      <input
                        required
                        name          = "templateUid"
                        data-ng-model = "viewModel.newEventForm.templateUid"
                        data-ng-bind  = "viewModel.newEventForm.templateUid"
                        data-ng-show  = "false"
                        type          = "text">

                      <p
                        class        = "DTSelectedItemInfo"
                        data-ng-show = "viewModel.newEventForm.templateUid">
                        <span>
                          <span class="input-success color-green">
                            <i class="icon-ok"></i>
                          </span>
                          {{resourcePool[viewModel.newEventForm.templateUid].name}}
                        </span>
                        <br><a class="btn red mini" data-ng-click = "viewModel.newEventForm.templateUid = false; viewModel.newEventForm.revisionUid = false;">Cancel Selection</a>
                      </p>

                      <div
                        style        = "width:95%;"
                        data-ng-hide = "viewModel.newEventForm.templateUid">
                        <table
                          class                                  = "table table-striped table-hover table-bordered dataTable"
                          data-data-table                        = "viewModel.templatesListDataTable.options"
                          data-ao-column-defs                    = "viewModel.templatesListDataTable.columnDefs"
                          data-parent-data-table-view-model-prop = "templatesListDataTable"
                          update-on-resource-post                = "template"
                          data-update-watch                      = "viewModel.newEventForm.eventType">
                          <thead>
                            <tr>
                                <th class = "sorting">Name</th>
                                <th class = "sorting">Type</th>
                                <th class = "sorting_disabled"></th>
                            </tr>
                          </thead>
                        </table>
                      </div>

                    </div><!-- controls -->
                  </div><!-- tab-pane -->




                  <div
                    data-ng-class = "{success:newEventForm.revisionUid.$valid, error:!newEventForm.revisionUid.$valid, 'ng-pristine':newEventForm.revisionUid.$pristine}"
                    class         = "control-group">
                    <label class="control-label">Revision</label>
                    <div class="controls">

                      <input
                        required
                        name          = "revisionUid"
                        data-ng-model = "viewModel.newEventForm.revisionUid"
                        data-ng-bind  = "viewModel.newEventForm.revisionUid"
                        data-ng-show  = "false"
                        type          = "text">

                      <p
                        style        = "margin-top:5px; font-size:16px;"
                        data-ng-hide = "viewModel.newEventForm.templateUid">Select a template</p>

                      <p
                        class        = "DTSelectedItemInfo"
                        data-ng-show = "viewModel.newEventForm.revisionUid">
                        <span>
                          <span class="input-success color-green">
                            <i class="icon-ok"></i>
                          </span>
                          {{resourcePool[viewModel.newEventForm.revisionUid].createdAt | date:'short'}} - {{ resourcePool[resourcePool[viewModel.newEventForm.revisionUid].employeeUid].firstName }} {{ resourcePool[resourcePool[viewModel.newEventForm.revisionUid].employeeUid].lastName }}
                        </span>
                        <br><a class="btn red mini" data-ng-click = "viewModel.newEventForm.revisionUid = false">Cancel Selection</a>
                      </p>


                      <div
                        style        = "width:95%;"
                        data-ng-show = "viewModel.newEventForm.templateUid && !viewModel.newEventForm.revisionUid">
                        <table
                          class                                  = "table table-striped table-hover table-bordered dataTable"
                          data-data-table                        = "viewModel.revisionsListDataTable.options"
                          data-ao-column-defs                    = "viewModel.revisionsListDataTable.columnDefs"
                          data-parent-data-table-view-model-prop = "revisionsListDataTable"
                          update-on-resource-post                = "revision"
                          data-update-watch                      = "viewModel.newEventForm.templateUid">
                          <thead>
                            <tr>
                                <th class = "sorting">Owner</th>
                                <th class = "sorting">Date Created</th>
                                <th class = "sorting">Change Summary</th>
                                <th class = "sorting_disabled"></th>
                            </tr>
                          </thead>
                        </table>
                      </div>


                    </div>
                  </div>


              </div><!-- tab-pane -->






              <div
                data-ng-show    = "viewModel.activeWizardStep == 2"
                data-ng-animate = "{show:'fade-in'}"
                data-ng-class   = "{'active':(viewModel.activeWizardStep == 2)}"
                class           = "tab-pane">

                  <h3 class="block">Provide your billing and credit card details</h3>
                  <div class="control-group">
                     <label class="control-label">Card Holder Name</label>
                     <div class="controls">
                        <input type="text" class="span6 m-wrap">
                        <span class="help-inline"></span>
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Bank Name</label>
                     <div class="controls">
                        <input type="text" class="span6 m-wrap">
                        <span class="help-inline"></span>
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Debit/Credit Card Number</label>
                     <div class="controls">
                        <input type="text" class="span6 m-wrap">
                        <span class="help-inline"></span>
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">CVC</label>
                     <div class="controls">
                        <input type="text" placeholder="" class="m-wrap">
                        <span class="help-inline"></span>
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Expiration Date(MM/YYYY)</label>
                     <div class="controls">
                        <input type="text" placeholder="MM" class="m-wrap small">
                        <input type="text" placeholder="YYYY" class="m-wrap small">
                        <span class="help-inline"></span>
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Payment Options</label>
                     <div class="controls">
                        <label class="checkbox line">
                        <div class="checker" id="uniform-undefined"><span><input type="checkbox" value="" style="opacity: 0;"></span></div> Auto-Pay with this Credit Card
                        </label>
                        <label class="checkbox line">
                        <div class="checker" id="uniform-undefined"><span><input type="checkbox" value="" style="opacity: 0;"></span></div> Email me monthly billing
                        </label>
                     </div>
                  </div>
              </div><!-- tab-pane -->

            </div><!-- tab-content -->




            <div class="form-actions clearfix">

              <a
                data-ng-click = "viewModel.activeWizardStep = viewModel.activeWizardStep - 1"
                data-ng-hide  = "viewModel.activeWizardStep == 0"
                class         = "btn button-previous">
                <i class="m-icon-swapleft"></i> Back
              </a>

              <a
                data-ng-disabled = "!viewModel.isStepValid()"
                data-ng-click    = "viewModel.isStepValid() && (viewModel.activeWizardStep = viewModel.activeWizardStep + 1)"
                data-ng-hide     = "viewModel.activeWizardStep == 2"
                class            = "btn blue">
                Continue <i class="m-icon-swapright m-icon-white"></i>
              </a>

              <a
                data-ng-show = "viewModel.activeWizardStep == 2"
                class        = "btn green button-submit">
                Submit <i class="m-icon-swapright m-icon-white"></i>
              </a>

            </div><!-- form-actions -->



         </div>
      </form>
   </div>















    <div style="display:none;" class="portlet-body light-grey">

      <div class="form">
        <form
          name  = "newEventForm_OLD"
          class = "form-horizontal">


          <div class="control-group">
            <label class="control-label">Type</label>
            <div class="controls">
              <select
                data-ng-model="viewModel.newEventForm.eventType"
                name="eventType">
                <option value="mini">Quiz</option>
                <option value="full">Full Exercise</option>
              </select>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input
                data-required
                data-ng-minlength = "{{clientOrmShare.event.model.name.validate.len[0]}}"
                data-ng-maxlength = "{{clientOrmShare.event.model.name.validate.len[1]}}"
                type              = "text"
                class             = "span6 m-wrap" />

              <div class="clear"></div>
              <span
                data-ng-show = "newEventForm.name.$error.minlength"
                class        = "help-inline">
                  Name must be longer than {{clientOrmShare.event.model.name.validate.len[0]}} characters
              </span>
              <span
                data-ng-show = "newEventForm.name.$error.maxlength"
                class        = "help-inline">
                  Name must be longer than {{clientOrmShare.event.model.name.validate.len[1]}} characters
              </span>

            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
              <textarea class="large m-wrap" rows="3"></textarea>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Exercise Template</label>
            <div class="controls">
              <select
                data-required
                name             = "template"
                data-ng-disabled = "!viewModel.newEventForm.eventType"
                data-ng-model    = "viewModel.newTemplateForm.template"
                data-ng-options  = "value.uid as value.name for (key, value) in viewModel.templates"
                class            = "m-wrap span6"></select>

              <span class="help-inline">multi-char placeholder</span>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Exercise Template Revision</label>
            <div class="controls">
              <select
                data-required
                name             = "type"
                data-ng-disabled = "!viewModel.newTemplateForm.template"
                data-ng-model    = "viewModel.newTemplateForm.revision"
                data-ng-options  = "value.createdAt for (key, value) in resourcePool[viewModel.newTemplateForm.template].revisions"
                class            = "m-wrap span6"></select>

              <span class="help-inline">multi-char placeholder</span>
            </div>
          </div>


          <div class="control-group">

            <label class="control-label">Delegate</label>
            <div class="controls">

              <table
                class                                  = "table table-striped table-hover table-bordered dataTable"
                data-data-table                        = "viewModel.employeeListDT.options"
                data-ao-column-defs                    = "viewModel.employeeListDT.columnDefs"
                data-parent-data-table-view-model-prop = "employeeListDT">
                <thead>
                <tr>
                    <th class = "sorting">First Name</th>
                    <th class = "sorting">Last Name</th>
                    <th class = "sorting">Email</th>
                    <th class = "sorting">Phone</th>
                    <th class = "sorting_disabled"></th>
                    <th class = "sorting_disabled"></th>
                </tr>
                </thead>
              </table>

            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Target Date</label>
            <div class="controls">
              <div data-datepicker data-months="1"></div>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Allow Rescheduling</label>
            <div class="controls">
              <input class="toggle" data-ng-model="allowRescheduling" data-ng-init="allowRescheduling = false" type="checkbox" checked="checked"/>
            </div>
          </div>


          <div
              data-ng-show="allowRescheduling"
              data-ng-animate="{show: 'slide-down', hide: 'slide-up'}"
              class="control-group">

            <label class="control-label">Date Range</label>
            <div class="controls">
              <div
                data-datepicker
                data-months="2"></div>
            </div>
          </div>


        </form>
      </div><!-- div.form -->

      <button
        data-ng-click = "viewModel.showNewExerciseForm = false"
        class         = "btn red btn-block">close</button>

    </div><!-- portlet-body -->













  </div><!-- portlet-box add-exercise -->
</div>
