
<div data-ng-controller="ControllerWidgetScheduler">
  <div
        data-collapse-widget
        data-title="Exercise Schedule"
        data-widget-themis="true"
        data-color="blue">

      <div class="row-fluid">

          <div class="span3 responsive">
            <!-- BEGIN DRAGGABLE EVENTS PORTLET-->

            <div  data-collapse-widget
                  data-title="Upcoming Events"
                  data-widget-themis="false"
                  data-color="grey"
                  data-model="model"></div>

            <button
                      data-ng-hide="showNew"
                      data-ng-click="model.buttons.toggleShowNew()"
                      class="btn green btn-block">Schedule New Exercise/Quiz <i class="m-icon-swapright m-icon-white"></i></button>

          </div>



          <div class="span9 calendar">


            <div data-ng-show="showNew">
              <div  data-collapse-widget
                    data-title="Schedule New Exercise/Test"
                    data-widget-themis="false"
                    data-color="grey"
                    data-model="model">


                <div class="form">
                  <form class="form-horizontal">



                    <div class="control-group">

                      <label class="control-label">Type</label>
                      <div class="controls">
                        <select>
                          <option value="mini">Quiz</option>
                          <option value="full">Full Exercise</option>
                        </select>
                      </div>

                    </div>




                    <div class="control-group">

                      <label class="control-label">Name</label>
                      <div class="controls">
                        <input type="text" class="span6 m-wrap" />
                      </div>

                    </div>






                    <div class="control-group">

                      <label class="control-label">Target Date</label>
                      <div class="controls">
                        <div data-datepicker data-months="1"></div>
                      </div>

                    </div>



                    <div class="control-group">

                      <label class="control-label">Allow Rescheduling</label>
                      <div class="controls">
                        <input type="checkbox" checked="checked"/>
                      </div>

                    </div>



                    <div class="control-group">

                      <label class="control-label">Date Range</label>
                      <div class="controls">
                        <div data-datepicker data-months="2"></div>
                      </div>

                    </div>











                  </form>
                </div>


                <button  data-ng-click="model.buttons.toggleShowNew()"
                         class="btn red btn-block">close</button>

              </div>
            </div>




            <div  data-collapse-widget
                  data-title="Calendar"
                  data-widget-themis="false"
                  data-color="grey">

              <div  data-ui-calendar="{width: '100%',editable: false}"
                    data-ng-model="eventSources"
                    class="calendar" ></div>
            </div>


          </div>
        </div>
        <!-- END CALENDAR PORTLET-->
      </div>

  </div>
</div>
