<!--
<div class="logo">
  <img src="/assets/img/vox-logo.png" alt="VOX" />
</div>
-->
<div class="logo"></div>
<div class="content">
  <!-- BEGIN LOGIN FORM -->
  <form id="login_form" class="form-vertical login-form" action="">
    <h3 class="form-title">Login to your account</h3>
    <div class="control-group">
      <div class="controls">
        <div class="input-icon left">
          <i class="icon-user"></i>
          <input class="m-wrap" type="text" name="email" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="input-icon left">
          <i class="icon-lock"></i>
          <input class="m-wrap" type="password" name="password" style="" placeholder="Password" />
        </div>
      </div>
    </div>

    <div style="border:0; margin-bottom:0;" class="form-actions">

    {{#if false}}
       <label class="checkbox">
          <div class="checker" id="uniform-undefined"><span><input type="checkbox" style="opacity: 0;"></span></div> Remember me
       </label>
      {{/if}}

    <div>
      <button id="login_btn" 		type="button" class="btn green pull-right">Login <i class="m-icon-swapright m-icon-white"></i></button>
      <img 	id="loading_img" 	class="hidden pull-right" style="margin:2px 20px;" src="/assets/img/loaders/loader10.gif" />
    </div>

    </div>

    <div style="display:none;" class="alert alert-error">
      <strong>Error!</strong><br/><span id="error_msg"></span>
    </div>

    {{#if false}}
    <div class="forget-password">
      <h4>Forgot your password?</h4>
      <p>
        no worries, click <a href="javascript:;" class="" id="forget-password">here</a>
        to reset your password.
      </p>
    </div>
    {{/if}}

  </form>
  <!-- END LOGIN FORM -->
  <!-- BEGIN FORGOT PASSWORD FORM -->
  <form class="form-vertical forget-form" action="index.html">
    <h3 class="">Forget Password?</h3>
    <p>Enter your e-mail address below to reset your password.</p>
    <div class="control-group">
      <div class="controls">
        <div class="input-icon left">
          <i class="icon-envelope"></i>
          <input class="m-wrap" type="text" placeholder="Email" />
        </div>
      </div>
    </div>
    <div class="form-actions">
      <a href="javascript:;" id="back-btn" class="btn">
      <i class="m-icon-swapleft"></i>  Back
      </a>
      <a href="javascript:;" id="forget-btn" class="btn green pull-right">
      Submit <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </form>
  <!-- END FORGOT PASSWORD FORM -->
</div>