<div class="portlet box light-grey">
  <div class="portlet-title">
    <h4><i class="icon-reorder"></i>Add Client</h4>
    <div class="tools">
      <a href="#" data-action="remove" class="remove"></a>
    </div>
  </div>

  <div class="portlet-body">

    <form action="#" class="horizontal-form">

        <h3 class="form-section">Add a new client to Voxtracker</h3>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                   <label class="control-label" for="name">Client Name</label>
                   <div class="controls">
                      <input name="name" type="text" placeholder="Acme Co." class="m-wrap span12" />
                   </div>
                </div>
            </div>
        </div>


      </form>

    <a href="#" role="button" data-action="submit" class="btn green" data-toggle="modal">Add Client</a>

  </div>
</div>
