<body class="login">







<div class="logo"></div>





<div class="content portlet box blue widget-themis-nofade">

    <div class="portlet-title">
        <h4 style="color:#FFF;"><i class="icon-plus"></i>Themis v0.1</h4>
    </div>
    <div class="portlet-body">
        <div class="progress progress-striped active">
            <div id="pre_loading_bar" style="width: 1%;" class="bar"></div>
        </div>

        <h4 id="status">Loading...</h4>
    </div>

</div>





<% if(false){ %>
  <div id="loading_indicator" style="margin-top:-125px; position:absolute; top:50%; text-align:center; width:100%;">

    <div style="margin-bottom:5px;" class="progress progress-striped active">
        <div style="width: 60%;" class="bar"></div>
    </div>


    <img src="/assets/img/loading_2.gif" />

    <% if(true){ %>
    <h2 id="status" style="font-style:italic;">Loading...</h2>
    <% } %>


  </div>
<% } %>

<% if(asset_hash == 'main'){ %>
  <script async type="text/javascript" data-main="/client" src="vendor/require.js"></script>
<% }else{ %>
  <script async type="text/javascript" src="/assets/<%= asset_hash %>.js"></script>
<% } %>
</body>
