<div
  data-animate-in
  class              = "widget-themis-finish portlet box blue"
  data-ng-controller = "ControllerWidgetActivityExercisesQuizes">
  <div class="portlet-title">
    <h4><span>My Exercises</span></h4>
  </div>
  <div
    style = "max-height:400px; overflow-y:scroll;"
    class = "portlet-body">

    <div
      data-ng-show = "viewModel.upcomingQuizesExercises === false"
      class        = "progress progress-striped active">
      <div style="width: 100%;" class="bar"></div>
    </div>


      <div
        class          = "box template-info-box"
        data-ng-repeat = "upcomingExercise in viewModel.upcomingQuizesExercises">

        <div class = "pull-left">
          <a href="#/quizes/{{ upcomingExercise.uid }}">{{ resourcePool[upcomingExercise.event.uid].name }}</a>
          <p>{{ resourcePool[upcomingExercise.event.uid].dateTime | date:'short' }} ({{ resourcePool[upcomingExercise.event.uid].dateTime | fromNow }})</p>
        </div>

        <a
          class = "btn green pull-right"
          href  = "#/quizes/{{ upcomingExercise.uid }}">View</a>

        <div class="clearfix"></div>

      </div>

  </div>
</div>
