<div
  data-animate-in
  class              = "widget-themis-finish portlet box blue"
  data-ng-controller = "ControllerWidgetExerciseBuilder">
  <div class="portlet-title">
    <h4><span>Template Manager</span></h4>
  </div>
  <div class="portlet-body light-grey">
    <div class="row-fluid">

      <!-- Templates list -->
      <div class="span5 responsive span8">
        <div class="portlet box grey">
          <div class="portlet-title">
            <h4><span>Templates</span></h4>
          </div>
          <!-- portlet body -->
          <div class="portlet-body light-grey">

            <button
              style           = "margin-bottom: 5px;"
              data-ng-hide    = "viewModel.showAddNewTemplate"
              data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
              data-ng-click   = "viewModel.showAddNewTemplate=true;"
              class           = "btn green btn-block">Add Template <i class="m-icon-swapright m-icon-white"></i></button>

            <table
                  class                                  = "table table-striped table-hover table-bordered dataTable"
                  data-data-table                        = "viewModel.templatesListDataTable.options"
                  data-aa-data                           = "viewModel.templates"
                  data-ao-column-defs                    = "viewModel.templatesListDataTable.columnDefs"
                  data-parent-data-table-view-model-prop = "templatesListDataTable"
                  data-fn-row-callback                   = "">
              <thead>
              <tr>
                  <th class = "sorting">Name</th>
                  <th class = "sorting_disabled"></th>
              </tr>
              </thead>
            </table>

            <button
              style           = "margin-bottom: 5px;"
              data-ng-hide    = "viewModel.showAddNewTemplate"
              data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
              data-ng-click   = "viewModel.showAddNewTemplate=true;"
              class           = "btn btn-block">Show Archived <i class="m-icon-swapdown"></i></button>


          </div><!-- /portlet body -->
        </div>
      </div><!-- /Templates list -->

      <div class="span7">


        <div
          data-ng-class   = "{'green sub-portlet':newTemplateForm.$valid, 'grey':newTemplateForm.$invalid}"
          class           = "portlet box"
          style           = "display:none;"
          data-ng-show    = "viewModel.showAddNewTemplate"
          data-ng-animate = "{show: 'slideDown', hide: 'slideUp'}">

          <div class="portlet-title">
            <h4><span>New Template</span></h4>
          </div>

          <!-- portlet body -->
          <div class="portlet-body light-grey">

            <form
              name  = "newTemplateForm"
              class = "form-horizontal" novalidate>

              <div
                data-ng-class = "{success:newTemplateForm.name.$valid, error:!newTemplateForm.name.$valid, 'ng-pristine':newTemplateForm.name.$pristine}"
                class         = "control-group">

                <label class="control-label">Name</label>

                <div class="controls input-icon">

                  <input
                    type              = "text"
                    class             = "span11 m-wrap"
                    name              = "name"
                    data-ng-model     = "viewModel.newTemplateForm.name"
                    data-ng-minlength = "{{clientOrmShare.template.model.name.validate.len[0]}}"
                    data-ng-maxlength = "{{clientOrmShare.template.model.name.validate.len[1]}}"
                    data-unique-field = '{"resource": "template", "property": "name"}'
                    data-required>

                  <span class="input-success">
                    <i class="icon-ok"></i>
                  </span>

                  <span class="input-error">
                    <i class="icon-exclamation-sign"></i>
                  </span>

                  <div class="clear"></div>
                  <span
                    data-ng-show="newTemplateForm.name.$error.minlength"
                    class="help-inline">Name must be longer than {{clientOrmShare.template.model.name.validate.len[0]}} characters</span>

                  <span
                    data-ng-show="newTemplateForm.name.$error.maxlength"
                    class="help-inline">Name must be shorter than {{clientOrmShare.template.model.name.validate.len[1]}} characters</span>

                  <span
                    data-ng-show="newTemplateForm.name.$error.uniqueField"
                    class="help-inline">A template with the name "{{viewModel.newTemplateForm.name}}" already exists</span>

                </div>
              </div><!-- template name control group -->

              <div
                data-ng-class = "{success:newTemplateForm.type.$valid, error:!newTemplateForm.type.$valid, 'ng-pristine':newTemplateForm.type.$pristine}"
                class         = "control-group">

                <label class="control-label">Type</label>

                <div class="controls input-icon">

                  <!-- clientOrmShare.template.model.type.values -->

                  <select
                    name = "type"
                    data-ng-model   = "viewModel.newTemplateForm.type"
                    data-ng-options = "type for type in clientOrmShare.template.model.type.values"
                    data-required
                    class = "m-wrap span6"></select>

                  <div class="clear"></div>
                  <span
                    data-ng-show="newTemplateForm.name.$error.minlength"
                    class="help-inline">Name must be longer than {{clientOrmShare.template.model.name.validate.len[0]}} characters</span>

                  <span
                    data-ng-show="newTemplateForm.name.$error.maxlength"
                    class="help-inline">Name must be shorter than {{clientOrmShare.template.model.name.validate.len[1]}} characters</span>

                  <span
                    data-ng-show="newTemplateForm.name.$error.uniqueField"
                    class="help-inline">A template with the name "{{viewModel.newTemplateForm.name}}" already exists</span>

                </div>
              </div> <!-- template type control group -->

              <div class="row-fluid">
                <div class="span6 responsive span8">
                  <button
                    data-ng-click = "viewModel.clearNewTemplateForm()"
                    class         = "btn red btn-block"><i class="m-icon-swapleft m-icon-white"></i> Cancel</button>
                </div>
                <div class="span6 responsive span8">
                  <button
                    type             = "submit"
                    data-ng-disabled = "newTemplateForm.$invalid"
                    data-ng-click    = "viewModel.postNewTemplate()"
                    class            = "btn green btn-block">Add <i class="m-icon-swapright m-icon-white"></i></button>
                </div>
              </div>

            </form>

          </div><!-- portlet-body -->
        </div><!-- portlet -->


        <div class="portlet box grey">
          <div class="portlet-title">
            <h4><span>Edit Template</span></h4>
          </div>
          <!-- portlet body -->
          <div class="portlet-body light-grey">



            <div data-ng-hide = "viewModel.routeParams.templateUid">
              <div class="box template-info-box fade in ng-scope">
                <div class="inline-content">
                  <strong><i style="vertical-align:middle; margin-top:0;" class="m-icon-big-swapleft"></i></strong><h3>Select Template</h3>
                </div>
              </div>
            </div>


            <div data-ng-show = "viewModel.currentTemplate">

              <div class="box template-info-box fade in">

                <div class="row-fluid">
                  <div class="span12">

                    <h2
                      data-ng-hide = "viewModel.showEditTemplateName"
                      style="margin-top:0;"><span>{{viewModel.currentTemplate.name}}</span></h2>


                    <form
                      name         = "formEditTemplateName"
                      data-ng-show = "viewModel.showEditTemplateName"
                      class        = "form-horizontal" novalidate>
                      <div
                        data-ng-class = "{success:formEditTemplateName.name.$valid, error:!formEditTemplateName.name.$valid, 'ng-pristine':formEditTemplateName.name.$pristine}"
                        class         = "control-group">

                        <div class="row-fluid">
                          <div class="span6">
                            <input
                              name              = "name"
                              data-ng-model     = "viewModel.formEditTemplateName.name"
                              data-ng-minlength = "{{clientOrmShare.template.model.name.validate.len[0]}}"
                              data-ng-maxlength = "{{clientOrmShare.template.model.name.validate.len[1]}}"
                              data-unique-field = '{"resource": "template", "property": "name"}'
                              type              = "text"
                              class             = "span12 m-wrap"/>

                            <span
                              data-ng-show="formEditTemplateName.name.$error.minlength"
                              class="help-inline">Name must be longer than {{clientOrmShare.template.model.name.validate.len[0]}} characters</span>

                            <span
                              data-ng-show="formEditTemplateName.name.$error.maxlength"
                              class="help-inline">Name must be shorter than {{clientOrmShare.template.model.name.validate.len[1]}} characters</span>

                            <span
                              data-ng-show="formEditTemplateName.name.$error.uniqueField"
                              class="help-inline">A template with the name "{{viewModel.formEditTemplateName.name}}" already exists</span>

                          </div>
                          <div class="span6">
                            <button
                              style            = "margin-bottom: 5px;"
                              data-ng-disabled = "formEditTemplateName.$invalid"
                              data-ng-click    = "viewModel.putTemplate(viewModel.currentTemplate.uid)"
                              class            = "btn btn-block green span6"><i class="icon-save m-icon-white"></i> Save</button>
                            <button
                              style            = "margin-bottom: 5px; margin-top: 0;"
                              data-ng-click    = "viewModel.showEditTemplateName = false; formEditTemplateName.$setPristine(); viewModel.formEditTemplateName.name=viewModel.currentTemplate.name;"
                              class            = "btn red btn-block span6"><i class="icon-remove m-icon-white"></i> Cancel</button>
                          </div>

                        </div>

                      </div>
                    </form>



                  </div><!-- span 12 -->
                </div><!-- row-fluid -->

                <div class="row-fluid">
                  <div class="span6">
                    <button
                      style           = "margin-bottom: 5px;"
                      data-ng-hide    = "viewModel.showEditTemplateName"
                      data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
                      data-ng-click   = "viewModel.showEditTemplateName=true; viewModel.formEditTemplateName.name=viewModel.currentTemplate.name;"
                      class           = "btn blue btn-block"><i class="icon-pencil m-icon-white"></i> Edit Name</button>
                  </div>
                  <div class="span6">
                    <button
                      style           = "margin-bottom: 5px;"
                      data-ng-hide    = "viewModel.showAddNewTemplateGroup"
                      data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
                      data-ng-click   = "viewModel.showAddNewTemplateGroup=true"
                      class           = "btn green btn-block">Add Group <i class="m-icon-swapright m-icon-white"></i></button>
                  </div>
                </div>

              </div>


              <div
                data-ng-class   = "{'green sub-portlet':newTemplateGroupForm.$valid, 'grey':newTemplateGroupForm.$invalid}"
                data-ng-show    = "viewModel.showAddNewTemplateGroup"
                data-ng-animate = "{show: 'slideDown', hide: 'slideUp'}"
                style           = "display:none;"
                class           = "portlet box">
                <div class="portlet-title">
                  <h4><span>New Group</span></h4>
                </div>
                <div class="portlet-body light-grey">


                  <form
                    name  = "newTemplateGroupForm"
                    class = "form-horizontal" novalidate>

                    <div
                      data-ng-class = "{success:newTemplateGroupForm.name.$valid, error:!newTemplateGroupForm.name.$valid, 'ng-pristine':newTemplateGroupForm.name.$pristine}"
                      class         = "control-group">

                      <label class="control-label">Name</label>

                      <div class="controls input-icon">

                        <input
                          type              = "text"
                          class             = "span11 m-wrap"
                          name              = "name"
                          data-ng-model     = "viewModel.newTemplateGroupForm.name"
                          data-ng-minlength = "{{clientOrmShare.template.model.name.validate.len[0]}}"
                          data-ng-maxlength = "{{clientOrmShare.template.model.name.validate.len[1]}}"
                          data-unique-field = '{"resource": "template", "property": "name"}'
                          data-required>

                        <span class="input-success">
                          <i class="icon-ok"></i>
                        </span>

                        <span class="input-error">
                          <i class="icon-exclamation-sign"></i>
                        </span>

                        <div class="clear"></div>
                        <span
                          data-ng-show="newTemplateGroupForm.name.$error.minlength"
                          class="help-inline">Name must be longer than {{clientOrmShare.template.model.name.validate.len[0]}} characters</span>

                        <span
                          data-ng-show="newTemplateGroupForm.name.$error.maxlength"
                          class="help-inline">Name must be shorter than {{clientOrmShare.template.model.name.validate.len[1]}} characters</span>

                        <span
                          data-ng-show="newTemplateGroupForm.name.$error.uniqueField"
                          class="help-inline">A template with the name "{{viewModel.newTemplateGroupForm.name}}" already exists</span>

                      </div>
                    </div><!-- template name control group -->

                    <div
                      data-ng-class = "{success:newTemplateGroupForm.description.$valid, error:!newTemplateGroupForm.description.$valid, 'ng-pristine':newTemplateGroupForm.description.$pristine}"
                      class         = "control-group">

                      <label class="control-label">Description</label>

                      <div class="controls input-icon">

                        <!-- clientOrmShare.template.model.type.values -->

                        <textarea
                          name              = "description"
                          data-ng-model     = "viewModel.newTemplateGroupForm.description"
                          class             = "large m-wrap"
                          rows              = "3"></textarea>


                      </div>
                    </div> <!-- template type control group -->

                    <div class="row-fluid">
                      <div class="span6 responsive span8">
                        <button
                          data-ng-click = "viewModel.clearnewTemplateGroupForm()"
                          class         = "btn red btn-block"><i class="m-icon-swapleft m-icon-white"></i> Cancel</button>
                      </div>
                      <div class="span6 responsive span8">
                        <button
                          type             = "submit"
                          data-ng-disabled = "newTemplateGroupForm.$invalid"
                          data-ng-click    = "viewModel.postNewTemplateGroup()"
                          class            = "btn green btn-block">Add <i class="m-icon-swapright m-icon-white"></i></button>
                      </div>
                    </div>

                  </form>




                </div><!-- portlet body -->
              </div><!-- Add Group Portlet -->


              <ul class="breadcrumb">
                <li>
                  <i class="icon-home"></i>
                  <a href="">Groups</a>
                  <i class="icon-angle-right"></i>
                </li>

              </ul>


              <div
                data-ng-repeat = "group in viewModel.currentTemplateRevision.groups | toArray | deleted | orderBy:'ordinal':false"
                data-ng-init   = "nameEditing=false;"
                data-group-uid = "{{group.uid}}">


                <div data-ng-controller="ControllerWidgetExerciseBuilderGroupEdit" class="template-builder-group">
                  <div
                    style="margin-bottom:0;"
                    class="navbar">

                    <div style = "border-bottom: 2px solid #4d90fe;" class="navbar-inner">
                      <div class="container">

                        <span class="pull-right">
                          <a
                            style = "font-weight:bold; color:#4d90fe;"
                            data-ng-hide  = "nameEditing"
                            data-ng-click = "nameEditing = true"
                            class="brand"
                            href>{{group.name}}</a>

                          <ul
                            data-ng-show  = "nameEditing"
                            class="nav">
                            <li>
                              <a
                                data-ng-disabled = "groupNameEditingForm.$invalid"
                                data-ng-click    = "nameEditing = viewModel.putGroup(group.uid)"
                                href>Save</a>
                            </li>
                          </ul>

                          <form
                            name         = "groupNameEditingForm"
                            data-ng-show = "nameEditing"
                            class        = "navbar-search"
                            novalidate>
                            <input
                              name              = "groupName"
                              data-ng-model     = "group.name"
                              style             = "width:100%;"
                              type              = "text"
                              class             = "search-query span2"
                              placeholder       = "">
                          </form>

                        </span>


                        <div class="nav-collapse collapse navbar-responsive-collapse">

                          <ul class="nav">

                            <li style="background-color:#4d90fe;" class="dropdown">
                              <a href="#" style="color:#FFF;" class="dropdown-toggle" data-toggle="dropdown">Group Options <i style="color:#FFF;" class="icon-angle-down"></i></a>
                              <ul class="dropdown-menu">
                                <li>
                                  <a
                                    data-ng-click = "nameEditing=true;"
                                    href><i class="icon-pencil"></i> Edit</a>

                                  <a
                                    data-ng-click="viewModel.moveGroup('up')"
                                    href><i class="m-icon-swapup"></i> Move Up</a>
                                  <a
                                    data-ng-click="viewModel.moveGroup('down')"
                                    href><i class="m-icon-swapdown"></i> Move Down</a>

                                  <a
                                    class = "color-red"
                                    data-ng-click="viewModel.deleteGroup(group.uid)"
                                    href><i class="icon-trash"></i> Archive Group</a>
                                </li>
                                <li class="dropdown-submenu bootstrap-menu-bar">

                                  <a data-ng-click="" href>Add Question</a>

                                  <ul class="dropdown-menu">
                                    <li>
                                      <a
                                        data-ng-click="viewModel.showAddNewField_OpenType = 'OpenResponse'"
                                        href>Open Response</a>
                                    </li>
                                    <li>
                                      <a
                                        data-ng-click="viewModel.showAddNewField_OpenType = 'SelectIndividual'"
                                        href>Select Individual</a>
                                    </li>
                                    <li>
                                      <a
                                        data-ng-click="viewModel.showAddNewField_OpenType = 'SelectMultiple'"
                                        href>Select Multiple</a>
                                    </li>
                                    <li>
                                      <a
                                        data-ng-click="viewModel.showAddNewField_OpenType = 'YesNo'"
                                        href>Yes / No</a>
                                    </li>
                                    <li>
                                      <a
                                        data-ng-click="viewModel.showAddNewField_OpenType = 'PercentageSlider'"
                                        href>Percentage Slider</a>
                                    </li>
                                  </ul>
                                </li>

                              </ul>
                            </li>
                          </ul>

                        </div><!-- /.nav-collapse -->


                      </div>
                    </div><!-- /navbar-inner -->
                  </div><!-- group menu bar -->





                  <div style="border-top:0px;" class = "box template-info-box fade in">




                    <div
                      style = "margin-bottom:10px;"
                      data-ng-show = "viewModel.showAddNewField_OpenType == ''"
                      data-ng-animate = "{show:'fadeIn'}"
                      class="inline-content">
                      <strong><i style="vertical-align:middle; margin-top:0;" class="m-icon-big-swapup"></i></strong><h3>Add Fields To Exercise Group</h3>
                    </div>


                    <div
                      data-ng-controller = "ControllerWidgetExerciseBuilderGroupFieldOpenResponse"
                      style              = "display:none;"
                      data-ng-animate    = "{show: 'slideDown', hide: 'slideUp'}"
                      data-ng-show       = "viewModel.showAddNewField_OpenType == 'OpenResponse'"
                      data-ng-class      = "{'green sub-portlet':formOpenResponseAdd.$valid, 'grey':formOpenResponseAdd.$invalid}"
                      class              = "portlet box">
                      <div class="portlet-title">
                        <h4><span>New <strong>Open Response</strong> Field</span></h4>
                      </div>
                      <div class="portlet-body light-grey">

                        <form name="formOpenResponseAdd" class="form-horizontal" novalidate>


                          <div
                            data-ng-class = "{success:formOpenResponseAdd.name.$valid, error:!formOpenResponseAdd.name.$valid, 'ng-pristine':formOpenResponseAdd.name.$pristine}"
                            class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls input-icon">
                              <input
                                required
                                class = "span11 m-wrap"
                                data-ng-minlength = "{{clientOrmShare.field.model.name.validate.len[0]}}"
                                data-ng-maxlength = "{{clientOrmShare.field.model.name.validate.len[1]}}"
                                data-ng-model = "form.name"
                                type = "text"
                                name = "name">

                              <span class="input-success">
                                <i class="icon-ok"></i>
                              </span>

                              <span class="input-error">
                                <i class="icon-exclamation-sign"></i>
                              </span>

                              <div class="clear"></div>

                              <span
                                data-ng-show="formOpenResponseAdd.name.$error.minlength"
                                class="help-inline">Name must be longer than {{clientOrmShare.field.model.name.validate.len[0]}} characters</span>

                              <span
                                data-ng-show="formOpenResponseAdd.name.$error.maxlength"
                                class="help-inline">Name must be shorter than {{clientOrmShare.field.model.name.validate.len[1]}} characters</span>

                            </div>
                          </div>


                          <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                              <textarea
                                data-ng-model = "form.description"
                                name="description"
                                class="span11 medium m-wrap"
                                rows="3"></textarea>
                            </div>
                          </div>


                        </form>

                        <div data-ng-include="'viewWidgetExerciseBuilderFieldButtons'"></div>

                      </div>
                    </div>














                    <div
                      style              = "display:none;"
                      data-ng-animate    = "{show: 'slideDown', hide: 'slideUp'}"
                      data-ng-show       = "viewModel.showAddNewField_OpenType == 'SelectIndividual'"
                      class              = "portlet box gray">
                      <div class="portlet-title">
                        <h4><span>New Select Individual Field</span></h4>
                      </div>
                      <div class="portlet-body light-grey">

                        <div data-ng-include="'viewWidgetExerciseBuilderFieldButtons'"></div>

                      </div>
                    </div>


                    <div
                      style              = "display:none;"
                      data-ng-animate    = "{show: 'slideDown', hide: 'slideUp'}"
                      data-ng-show       = "viewModel.showAddNewField_OpenType == 'SelectMultiple'"
                      class              = "portlet box gray">
                      <div class="portlet-title">
                        <h4><span>New Select Multiple Field</span></h4>
                      </div>
                      <div class="portlet-body light-grey">

                        <div data-ng-include="'viewWidgetExerciseBuilderFieldButtons'"></div>

                      </div>
                    </div>


                    <div
                      style              = "display:none;"
                      data-ng-animate    = "{show: 'slideDown', hide: 'slideUp'}"
                      data-ng-show       = "viewModel.showAddNewField_OpenType == 'YesNo'"
                      class              = "portlet box gray">
                      <div class="portlet-title">
                        <h4><span>New Yes/No Field</span></h4>
                      </div>
                      <div class="portlet-body light-grey">

                        <div data-ng-include="'viewWidgetExerciseBuilderFieldButtons'"></div>

                      </div>
                    </div>


                    <div
                      style              = "display:none;"
                      data-ng-animate    = "{show: 'slideDown', hide: 'slideUp'}"
                      data-ng-show       = "viewModel.showAddNewField_OpenType == 'PercentageSlider'"
                      class              = "portlet box gray">
                      <div class="portlet-title">
                        <h4><span>New Percentage Slider Field</span></h4>
                      </div>
                      <div class="portlet-body light-grey">
                        <div data-ng-include="'viewWidgetExerciseBuilderFieldButtons'"></div>
                      </div>
                    </div>




                    <!-- end field add forms -->

                    <form class="form-horizontal template-builder-form">

                      <div
                        data-ui-sortable = "fieldsSortableOptions">

                        <div
                          data-ng-repeat = "field in group.fields | toArray | orderBy:'ordinal'"
                          data-field-uid = "{{field.uid}}">
                          <div

                            data-ng-switch="field.type">



                            <div class="portlet box grey">
                              <div class="portlet-title">

                                <div class="caption">
                                  <h4 style="margin-bottom:0 !important;" class="inline-content">
                                    <i class="icon-reorder"></i>

                                    <div class="btn-group">
                                      <a class="btn blue" href="#" data-toggle="dropdown">
                                      Field Options
                                      <i style="color:#FFF;" class="icon-angle-down"></i>
                                      </a>
                                      <ul class="dropdown-menu">
                                         <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                         <li ><a class="color-red" href="#"><i class="icon-trash"></i> Delete</a></li>
                                      </ul>
                                    </div><!-- btn-group -->

                                    <span style="color:#FFF !important;">{{field.name}}</span>
                                  </h4>
                                </div>





                              </div>
                              <div style="background-color:#FFF; padding:10px 0 10px 0;" class="porlet-body">


                                <div
                                  data-ng-switch-when="openResponse">

                                  <div class="control-group">
                                     <label class="control-label">{{field.name}}</label>
                                     <div class="controls">
                                        <input data-ng-disabled="true" type="text" placeholder="" class="m-wrap medium">
                                        <span class="help-inline"></span>
                                     </div>
                                  </div>

                                </div><!-- openResponse -->



                                <div
                                  data-ng-switch-when="selectIndividual">
                                </div><!-- selectIndividual -->

                                <div
                                  data-ng-switch-when="selectMultiple">
                                </div><!-- selectMultiple -->

                                <div
                                  data-ng-switch-when="yesNo">
                                </div><!-- yesNo -->

                                <div
                                  data-ng-switch-when="percentageSlider">
                                </div><!-- percentageSlider -->


                              </div><!-- portlet-body -->
                            </div><!-- portlet-box -->




                          </div><!-- data-ng-switch="field.type" -->
                        </div><!-- data-ng-repeat = "field in group.fields" -->
                      </div>
                    </form>




                  </div><!-- template-info-box -->


                </div><!-- controller: ControllerWidgetExerciseBuilderGroupEdit -->

              </div><!-- data-ng-repeat -->







            </div><!-- /exercise editor -->



          </div><!-- /portlet body -->
        </div>
      </div><!-- /Current Template -->
    </div>
  </div>
</div>



