<div data-ng-controller="ControllerWidgetExerciseBuilder" class="span12">


  <div data-collapse-widget data-title="Exercise Builder" data-widget-themis="true" data-color="blue">

    <div class="row-fluid">
        <div class="span3 responsive span8">
          <div data-collapse-widget data-title="Templates" data-widget-themis="false" data-color="grey">



            <ul class="tree">
              <li data-ng-repeat="template in templates">
                <a href class="tree-toggle closed">{{template.name}}</a>
                <ul class="branch in">
                  <li data-role="leaf" data-ng-repeat="revision in template.revisions" data-ng-click="setActive(template, revision)" style="{{getStyle(revision.uid)}}">

                    <a data-ng-href="#/{{viewRoot}}/{{template.uid}}/{{revision.uid}}">
                      <i class="halflings-icon sort-by-attributes"></i>
                      {{revision.createdAt | date:'short'}}<br>- {{revision.employee.firstName + ' ' + revision.employee.lastName}}
                    </a>

                  </li>
                </ul>
              </li>
            </ul>



          </div>
        </div>
        <div class="span9">

          <div data-collapse-widget data-title="Template" data-widget-themis="false" data-color="grey">
            {{templateId}}
          </div>
          <div data-collapse-widget data-title="Revision" data-widget-themis="false" data-color="grey">
            {{revisionId}}
          </div>

        </div>
    </div>

  </div>

</div>
