<div class="inline-content inline-content-responsive" style="text-align:center;">


  <button class="btn green detail">
    <i style="display:none;" class="m-icon-swapup m-icon-white"></i>
    <i class="m-icon-swapdown m-icon-white"></i> Revisions
  </button>


  <div
    style = "margin-bottom:0px !important; text-align:left;"
    class = "btn-group">

    <a
      data-ng-class = "{true:'black', false:'blue'}[viewModel.currentTemplate.uid == '<%= templateUid %>']"
      href          = "#{{viewRoot}}/<%= templateUid %>"
      class         = "btn">View

      <i data-ng-hide="viewModel.currentTemplate.uid == '<%= templateUid %>'" class="m-icon-swapright m-icon-white"></i>
      <i data-ng-show="viewModel.currentTemplate.uid == '<%= templateUid %>'" class="m-icon-swapleft m-icon-white"></i>

    </a>

    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <!-- dropdown menu links -->
      <li>
        <a data-ng-click=""><i class="icon-plus"></i> New Revision</a>
      </li>
      <li >
        <a class="color-red" data-ng-click="$parent.viewModel.deleteConfirmDialogTemplate('<%= templateUid %>')"><i class="icon-trash"></i> Archive Template</a>
      </li>
    </ul>
  </div>


</div>
