<div class="inline-content inline-content-responsive" style="text-align:center;">


  <div
    style = "margin-bottom:0px !important; text-align:left;"
    class = "btn-group">


    <button
      data-ng-class = "{true:'black', false:'blue'}[viewModel.routeParams.templateUid == '<%= templateUid %>']"
      class         = "btn detail">
      <i style="display:none;" class="m-icon-swapup m-icon-white"></i>
      <i class="m-icon-swapdown m-icon-white"></i> Revisions
    </button>


    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>


    <ul class="dropdown-menu pull-right">
      <!-- dropdown menu links -->
      <li>
        <a data-ng-click=""><i class="icon-plus"></i> New Revision</a>
      </li>
      <li >
        <a class="color-red" data-ng-click="$parent.viewModel.deleteConfirmDialogTemplate('<%= templateUid %>')"><i class="icon-trash"></i> Archive Template</a>
      </li>
    </ul>


  </div>

</div>
