<div data-ng-controller="ControllerWidgetExerciseBuilder" class="span6">

  <div class="portlet box red widget-themis" data-animate-in>
    <div class="portlet-title">
      <h4><i class="icon-cogs"></i>Tooltips</h4>
      <div class="tools">
        <a href="javascript:;" class="collapse"></a>
        <a href="#portlet-config" data-toggle="modal" class="config"></a>
        <a href="javascript:;" class="reload"></a>
        <a href="javascript:;" class="remove"></a>
      </div>
    </div>
    <div class="portlet-body">
      <p>
        Tight pants next level keffiyeh
        <a href="#" class="tooltips" data-original-title="Default tooltip">you probably</a>
        haven't heard of them.
        Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel
        <a href="#" class="tooltips" data-original-title="Another tooltip">have a</a>
        terry richardson vinyl chambray.
        <a href="#" class="tooltips" title="" data-original-title="12">twitter handle</a>
        freegan cred raw denim single-origin coffee viral.
      </p>
      <p>
        <button class="btn tooltips" data-placement="top" data-original-title="Tooltip in top">Top</button>
        <button class="btn tooltips" data-placement="left" data-original-title="Tooltip in left">Left</button>
        <button class="btn tooltips" data-placement="right" data-original-title="Tooltip in right">Right</button>
        <button class="btn tooltips" data-placement="bottom" data-original-title="Tooltip in bottom">Bottom</button>
      </p>
    </div>
  </div>

</div>
