<div>
  <table class="table table-striped table-bordered table-advance">
     <thead>
        <tr>

           <th>Date</th>
           <th></th>

        </tr>
     </thead>
     <tbody>



        <tr
          data-ng-repeat="(key, value) in resourcePool['<%= templateUid %>'].revisions">

          <td>{{value.createdAt | toArray | date:'short' }}</td>

          <td>
            <div style="text-align:right;" class="inline-content">
              <a
                data-ng-class = "{true:'black', false:'blue'}[viewModel.routeParams.revisionUid == value.uid]"
                href          = "#{{viewRoot}}/{{value.templateUid}}/{{value.uid}}"
                class         = "btn">

                <span data-ng-show = "value.finalized">View</span>
                <span data-ng-show = "!value.finalized">Edit</span>


                <i data-ng-hide="viewModel.routeParams.revisionUid == value.uid" class="m-icon-swapright m-icon-white"></i>
                <i data-ng-show="viewModel.routeParams.revisionUid == value.uid" class="m-icon-swapleft m-icon-white"></i>

              </a>
            </div>
          </td>

        </tr>

     </tbody>
  </table>
</div>
