<div
  data-animate-in
  class              = "widget-themis-finish portlet box blue"
  data-ng-controller = "ControllerWidgetFullExerciseSubmitter">
  <div class="portlet-title">
    <h4><span>My Exercises</span></h4>
  </div>
  <div class="portlet-body light-grey">

    <div
      data-ng-include    = "'widgetPartialExerciseSubmitterOverview'"
      data-ng-controller = "ControllerWidgetFullExerciseSubmitterOverview"></div>

    <div
      data-ng-include    = "'widgetPartialExerciseSubmitterExercise'"
      data-ng-controller = "ControllerWidgetFullExerciseSubmitterExercise"></div>

  </div>
</div>

