<div data-ng-controller="ControllerWidgetDictionaryManager">

  <div data-animate-in data-collapse-widget data-title="Manage Dictionaries" data-widget-themis="true" data-color="blue">
    <div class="row-fluid">
      <div class="span3 responsive span8">

        <div data-collapse-widget data-title="Dictionaries" data-widget-themis="false" data-color="grey">

          <table class="table table-striped table-bordered table-hover dataTable">
            <thead></thead>
            <tbody>
              <tr data-ng-repeat="(uid, dictionary) in viewModel.dictionaries">
                <td>

                  <a data-ng-href="#{{viewRoot}}/{{dictionary.uid}}">
                    {{dictionary.name}} ({{ getKeysLength(dictionary.dictionaryItems) }})
                  </a>

                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="span9">






        <div
          data-collapse-widget
          data-title="Dictionary Editor"
          data-widget-themis="false"
          data-color="grey">

          <h3>Active Dictionary Items</h3>
          <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
              <tr role="row">
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: auto;" aria-label="Username: activate to sort column ascending">
                  Value
                </th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 140px;" aria-label=": activate to sort column ascending">
                  Actions
                </th>
              </tr>
            </thead>

            <tbody
              role="alert"
              aria-live="polite"
              aria-relevant="all"
              data-ng-show="viewModel.dictionaries[viewModel.activeDictionaryUid]">

              <tr
                class="gradeX odd"
                data-ng-repeat="(uid, dictionaryItem) in viewModel.dictionaries[viewModel.activeDictionaryUid].dictionaryItems"
                data-ng-class="{true:'', false: 'stale'}[dictionaryItem.isFresh]"
                  <td class="">
                    <div
                      data-inline-edit
                      data-model="dictionaryItem.name">{{dictionaryItem.name + ' - ' + dictionaryItem.isFresh}}</div>
                  </td>
                  <td>{{uid}}</td>
                  <td class="">
                    <a
                      href
                      class="btn green mini"
                      data-ng-click="updating=true;persist(dictionaryItem)">Restore</a>
                  </td>
              </tr>

            </tbody>
          </table>





        </div>
      </div>
    </div>
  </div>
</div>
