<div data-ng-controller="ControllerWidgetDictionaryManager">

  <div data-animate-in data-collapse-widget data-title="Manage Dictionaries" data-widget-themis="true" data-color="blue">
    <div class="row-fluid">
      <div class="span3 responsive span8">

        <div data-collapse-widget data-title="Dictionaries" data-widget-themis="false" data-color="grey">

          <table class="table table-striped table-bordered table-hover dataTable">
            <thead></thead>
            <tbody>
              <tr data-ng-repeat="dictionary in dictionaries">
                <td>

                  <a data-ng-href="#{{viewRoot}}/{{dictionary.uid}}">
                    {{dictionary.name}} ({{dictionary.dictionaryItems.length}})
                  </a>

                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="span9">

        <div
          data-collapse-widget
          data-title="Dictionary Editor"
          data-widget-themis="false"
          data-color="grey">

          <h3>Active Dictionary Items</h3>
          <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
              <tr role="row">
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: auto;" aria-label="Username: activate to sort column ascending">
                  Value
                </th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 140px;" aria-label=": activate to sort column ascending">
                  Actions
                </th>
              </tr>
            </thead>

            <tbody
              role="alert"
              aria-live="polite"
              aria-relevant="all"
              data-ng-show="activeDictionary !== false">

              <tr
                class="gradeX odd"
                data-ng-repeat="item in activeDictionary.dictionaryItems">
                  <td class="">
                    <div
                      data-inline-edit
                      data-model="item.name">{{item.name}}</div>
                  </td>
                  <td class="">
                    <a href class="btn red mini">Delete</a>
                  </td>
              </tr>

            </tbody>
          </table>


          <h3>Deleted Dictionary Items</h3>
          <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
              <tr role="row">
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: auto;" aria-label="Username: activate to sort column ascending">
                  Value
                </th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 140px;" aria-label=": activate to sort column ascending">
                  Actions
                </th>
              </tr>
            </thead>

            <tbody
              role="alert"
              aria-live="polite"
              aria-relevant="all"
              data-ng-show="activeDictionary !== false">

              <tr
                class="gradeX odd"
                data-ng-init=""
                data-ng-init="updating=false"
                data-ng-class="{true:'updating', false: ''}[updating]"
                data-ng-repeat="item in activeDictionary.dictionaryItems">
                  <td class="">
                    <div
                      data-inline-edit
                      data-model="item.name">{{item.name}}</div>
                  </td>
                  <td class="">
                    <a
                      href
                      class="btn green mini"
                      data-ng-click="updating=true">Restore</a>
                  </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
