<div
  data-animate-in
  class              = "widget-themis-finish portlet box blue"
  data-ng-controller = "ControllerWidgetDictionaryManager">

  <div class="portlet-title">
    <h4><span>Dictionary Manager</span></h4>
  </div>

  <div class="portlet-body light-grey">


    <div class="row-fluid">
      <div class="span5 responsive span8">



        <!-- Dictionaries List -->
        <div class="portlet box grey">

          <div class="portlet-title">
            <h4><span>Dictionaries</span></h4>
          </div>

          <div class="portlet-body">


            <button
              style           = "margin-bottom: 5px;"
              data-ng-hide    = "viewModel.showAddNewDictionary"
              data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
              data-ng-click   = "viewModel.showAddNewDictionary=true;"
              class           = "btn green btn-block">Add Dictionary <i class="m-icon-swapright m-icon-white"></i></button>


            <table
                  class                   = "table table-striped table-hover table-bordered dataTable"
                  data-data-table         = "viewModel.dictionaryListOptions"
                  aa-data                 = "viewModel.dictionaries"
                  ao-column-defs          = "viewModel.columnDefsDictionaryList"
                  data-parent-model       = "viewModel"
                  update-on-resource-post = "dictionary"
                  fn-row-callback         = "myCallback">
              <thead>
              <tr>
                  <th class = "sorting">Name</th>
                  <th class = "sorting_disabled">Items</th>
                  <th class = "sorting_disabled">Actions</th>
              </tr>
              </thead>
            </table>


            <button
              style           = "margin-bottom: 5px;"
              data-ng-hide    = "viewModel.showAddNewDictionary"
              data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
              data-ng-click   = "viewModel.showAddNewDictionary=true;"
              class           = "btn btn-block">Show Archived <i class="m-icon-swapdown"></i></button>


          </div>
        </div><!-- /Dictionaries List -->


      </div>
      <div class="span7">


        <!-- new dictionary form -->
        <div
          data-ng-class   = "{'green sub-portlet':newDictionaryForm.$valid, 'grey':newDictionaryForm.$invalid}"
          style           = "display:none;"
          class           = "portlet box"
          data-ng-show    = "viewModel.showAddNewDictionary"
          data-ng-animate = "{show: 'slideDown', hide: 'slideUp'}">

          <div class="portlet-title">
            <h4><span>New Dictionary</span></h4>
          </div>

          <div class="portlet-body light-gray">

            <form
              name  = "newDictionaryForm"
              class = "form-horizontal" novalidate>

              <div
                data-ng-class = "{success:newDictionaryForm.name.$valid, error:!newDictionaryForm.name.$valid, 'ng-pristine':newDictionaryForm.name.$pristine}"
                class         = "control-group">

                <label class="control-label">Name</label>

                <div class="controls input-icon">

                  <input
                    type              = "text"
                    class             = "span11 m-wrap"
                    name              = "name"
                    data-ng-model     = "viewModel.newDictionaryForm.name"
                    data-ng-minlength = "{{clientOrmShare.dictionary.model.name.validate.len[0]}}"
                    data-ng-maxlength = "{{clientOrmShare.dictionary.model.name.validate.len[1]}}"
                    data-unique-field = '{"resource": "dictionary", "property": "name"}'
                    data-required>

                  <span class="input-success">
                    <i class="icon-ok"></i>
                  </span>

                  <span class="input-error">
                    <i class="icon-exclamation-sign"></i>
                  </span>

                  <div class="clear"></div>
                  <span
                    data-ng-show="newDictionaryForm.name.$error.minlength"
                    class="help-inline">Name must be longer than {{clientOrmShare.dictionary.model.name.validate.len[0]}} characters</span>

                  <span
                    data-ng-show="newDictionaryForm.name.$error.maxlength"
                    class="help-inline">Name must be shorter than {{clientOrmShare.dictionary.model.name.validate.len[1]}} characters</span>

                  <span
                    data-ng-show="newDictionaryForm.name.$error.uniqueField"
                    class="help-inline">A dictionary with the name "{{viewModel.newDictionaryForm.name}}" already exists</span>

                </div>
              </div>

              <div
                data-ng-init = "viewModel.newDictionaryForm.submitting = false;"
                class="row-fluid">
                <div class="span6 responsive span8">

                  <button
                    data-ng-hide  = "viewModel.newDictionaryForm.submitting"
                    data-ng-click = "viewModel.closeAddNewDictionary();"
                    class         = "btn red btn-block"><i class="m-icon-swapleft m-icon-white"></i> Cancel</button>

                </div>
                <div class="span6 responsive span8">

                  <button
                    data-ng-class    = "{true:'black',false:'green'}[viewModel.newDictionaryForm.submitting]"
                    type             = "submit"
                    data-ng-disabled = "newDictionaryForm.$invalid || viewModel.newDictionaryForm.submitting"
                    data-ng-click    = "viewModel.postNewDictionary();"
                    class            = "btn btn-block">

                    <p data-ng-hide = "viewModel.newDictionaryForm.submitting">
                      Add <i class="m-icon-swapright m-icon-white"></i>
                    </p>
                    <p data-ng-show = "viewModel.newDictionaryForm.submitting">
                      <i class="icon-cog icon-spin"></i> Saving...
                    </p>

                  </button>

                </div>
              </div>

            </form>

          </div>
        </div><!-- /new dictionary form -->



        <!-- Active Dictionary Items -->
        <div class="portlet box grey">

          <div class="portlet-title">
            <h4><span>Edit Dictionary</span></h4>
          </div>

          <!-- portlet-body -->
          <div class = "portlet-body light-grey">


            <div data-ng-hide = "viewModel.currentDictionaryUid && !resourcePool[viewModel.currentDictionaryUid].deletedAt">
              <div class="box template-info-box fade in ng-scope">
                <div class="inline-content">
                  <strong><i style="vertical-align:middle; margin-top:0;" class="m-icon-big-swapleft"></i></strong><h3>Select Dictionary</h3>
                </div>
              </div>
            </div>




            <div data-ng-show = "viewModel.currentDictionaryUid && !resourcePool[viewModel.currentDictionaryUid].deletedAt">


              <div class="box template-info-box fade in ng-scope">

                <div class="row-fluid">

                  <div class="span6">

                    <h2 style="margin-top:0px; font-weight:600;" class="alert-heading ng-binding">
                      {{resourcePool[viewModel.currentDictionaryUid].name}}
                    </h2>

                    <div class = "inline-content">

                      <button
                        data-ng-hide    = "viewModel.showAddDictionaryItems"
                        data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
                        data-ng-click   = "viewModel.showAddDictionaryItems=true;"
                        class           = "btn green btn-block">Add Item <i class="m-icon-swapright m-icon-white"></i></button>

                    </div>

                  </div>

                  <div style="text-align:right;" class="span6"></div>

                </div>

              </div>





              <div
                style           = "display:none;"
                data-ng-class   = "{'green sub-portlet':newDictionaryItemForm.$valid, 'grey':newDictionaryItemForm.$invalid}"
                data-ng-show    = "viewModel.showAddDictionaryItems"
                data-ng-animate = "{show: 'slideDown', hide: 'slideUp'}"
                class           = "portlet box">

                <div class="portlet-title">
                  <h4><span>Add Item</span></h4>
                </div>

                <div class = "portlet-body light-grey">


                  <form
                    name  = "newDictionaryItemForm"
                    class = "form-horizontal" novalidate>

                    <div
                      data-ng-class = "{success:newDictionaryItemForm.$valid, error:!newDictionaryItemForm.$valid, 'ng-pristine':newDictionaryItemForm.$pristine}"
                      class         = "control-group">

                      <label class="control-label">Item Name</label>

                      <div class="controls input-icon">

                        <input
                          type              = "text"
                          class             = "span11 m-wrap"
                          name              = "name"
                          data-ng-model     = "viewModel.newDictionaryItemForm.name"
                          data-ng-minlength = "{{clientOrmShare.dictionaryItem.model.name.validate.len[0]}}"
                          data-ng-maxlength = "{{clientOrmShare.dictionaryItem.model.name.validate.len[1]}}"
                          data-unique-field = '{"resource": "dictionary", "uids":"{{viewModel.dictionaries[viewModel.currentDictionaryUid].uid}}", "property": "dictionarItems", "subProperty":"name"}'
                          data-required>

                        <span class="input-success">
                          <i class="icon-ok"></i>
                        </span>

                        <span class="input-error">
                          <i class="icon-exclamation-sign"></i>
                        </span>

                        <div class="clear"></div>
                        <span
                          data-ng-show="newDictionaryItemForm.name.$error.minlength"
                          class="help-inline">Name must be longer than {{clientOrmShare.dictionaryItem.model.name.validate.len[0]}} characters</span>

                        <span
                          data-ng-show="newDictionaryItemForm.name.$error.maxlength"
                          class="help-inline">Name must be shorter than {{clientOrmShare.dictionaryItem.model.name.validate.len[1]}} characters</span>

                        <span
                          data-ng-show="newDictionaryItemForm.name.$error.uniqueField"
                          class="help-inline">A item with the name "{{viewModel.newDictionaryItemForm.name}}" already exists in this dictionary</span>

                      </div>
                    </div>

                    <div
                      data-ng-init = "viewModel.newDictionaryItemForm.submitting = false"
                      class        = "row-fluid">

                      <div class="span6 responsive span8">

                        <button
                          data-ng-hide  = "viewModel.newDictionaryItemForm.submitting"
                          data-ng-click = "viewModel.closeAddNewDictionaryItem()"
                          class         = "btn red btn-block">
                          <i class="m-icon-swapleft m-icon-white"></i> Cancel
                        </button>

                      </div><!-- span6 -->

                      <div class="span6 responsive span8">

                        <button
                          data-ng-class    = "{true:'black',false:'green'}[viewModel.newDictionaryItemForm.submitting]"
                          type             = "submit"
                          data-ng-disabled = "newDictionaryItemForm.$invalid || viewModel.newDictionaryItemForm.submitting"
                          data-ng-click    = "viewModel.postNewDictionaryItem()"
                          class            = "btn btn-block">

                          <p data-ng-hide = "viewModel.newDictionaryItemForm.submitting">
                            Add <i class="m-icon-swapright m-icon-white"></i>
                          </p>
                          <p data-ng-show = "viewModel.newDictionaryItemForm.submitting">
                            <i class="icon-cog icon-spin"></i> Saving...
                          </p>

                        </button>

                      </div><!-- span6 -->

                    </div><!-- row-fluid -->

                  </form>





                </div>
              </div>



              <table
                    class                   = "table table-striped table-hover table-bordered dataTable"
                    data-data-table         = "viewModel.dictionaryItemsOptions"
                    data-aa-data            = "[]"

                    data-update-on-resource-post = "dictionaryItem"
                    data-update-watch       = "viewModel.currentDictionaryUid"

                    data-ao-column-defs     = "viewModel.columnDefsCurrentDictionaryItems"
                    data-fn-row-callback    = "myCallback">
                <thead>
                <tr>
                    <th class = "sorting">Name</th>
                    <th class = "sorting_disabled">#</th>
                    <th class = "sorting_disabled">Actions</th>
                </tr>
                </thead>
              </table>



            </div>


          </div><!-- /portlet-body -->

        </div><!-- /Active Dictionary Items -->


      </div><!-- /span9 -->
    </div>
  </div>
</div>
