<div
  data-animate-in
  class              = "widget-themis-finish portlet box blue"
  data-ng-controller = "ControllerWidgetEmployeeManager">

  <div class="portlet-title">
    <h4><span>Employee Manager</span></h4>
  </div>

  <div class="portlet-body light-grey">


    <div
      style           = "display:none;"
      data-ng-animate = "{show:'slideDown', hide:'slideUp'}"
      data-ng-show    = "viewModel.showAddNewEmployee"
      class           = "row-fluid">
      <div class="span12">

        <div class="portlet box grey">
          <div class="portlet-title">
            <h4><span>Add Employees</span></h4>
          </div>
          <div class="portlet-body light-grey">

            <div data-ng-show = "viewModel.addNewEmployeeMode === false">
              <p style="width:100%;text-align:center;">
                <a
                  data-ng-click = "viewModel.addNewEmployeeMode = 'manual'"
                  class="btn green big">Add Manually <i class="m-icon-big-swapright m-icon-white"></i></a>
                <a
                  data-ng-click = "viewModel.addNewEmployeeMode = 'csv'"
                  class="btn blue big">CSV Upload <i class="m-icon-big-swapright m-icon-white"></i></a>
              </p>
            </div>


            <div data-ng-switch = "viewModel.addNewEmployeeMode">
              <div data-ng-switch-when = "manual">

                <form
                  name  = "newEmployeeManualAddForm"
                  class = "horizontal-form"
                  novalidate>

                  <h3 class="form-section">Employee Info</h3>

                  <div class="row-fluid">

                    <div class="span6">
                       <div class="control-group">

                          <label class="control-label" for="firstName">First Name</label>
                          <div class="controls">

                            <input
                              data-ng-model = "viewModel.newEmployeeManualAddForm.firstName"
                              name        = "firstName"
                              type        = "text"
                              class       = "m-wrap span12"
                              placeholder = "First Name">

                          </div>
                       </div>
                    </div>

                    <div class="span6">
                       <div class="control-group">

                          <label class="control-label" for="lastName">Last Name</label>
                          <div class="controls">

                            <input
                              data-ng-model = "viewModel.newEmployeeManualAddForm.lastName"
                              name        = "lastName"
                              type        = "text"
                              class       = "m-wrap span12"
                              placeholder = "Last Name">

                          </div>
                       </div>
                    </div>

                 </div><!-- row-fluid -->
                 <div class="row-fluid">

                    <div class="span6">
                       <div class="control-group">

                          <label class="control-label" for="email">Email</label>
                          <div class="controls">

                            <input
                              data-ng-model = "viewModel.newEmployeeManualAddForm.email"
                              name        = "email"
                              type        = "text"
                              class       = "m-wrap span12"
                              placeholder = "jane@company.com">

                          </div>
                       </div>
                    </div>

                    <div class="span6">
                       <div class="control-group">

                          <label class="control-label" for="phone">Phone Number</label>
                          <div class="controls">

                            <input
                              data-ui-mask  = "'999-999-9999'"
                              data-ng-model = "viewModel.newEmployeeManualAddForm.phone"
                              name          = "phone"
                              type          = "text"
                              class         = "m-wrap span12"
                              placeholder   = "999-999-9999">

                          </div>
                       </div>
                    </div>

                 </div><!-- row-fluid -->




                 <div class="row-fluid">

                    <div class="span6">
                       <div class="control-group">

                          <label class="control-label" for="delegate">Delegate</label>
                          <div class="controls">

                            <div class="controls">

                              <label class="checkbox line">
                                <div class="checker">
                                  <span
                                    data-ng-class = "{checked: viewModel.newEmployeeManualAddForm.delegate}"
                                    data-ng-click = "viewModel.newEmployeeManualAddForm.delegate = !viewModel.newEmployeeManualAddForm.delegate"
                                    class="">
                                    <input
                                      data-ng-model = "viewModel.newEmployeeManualAddForm.delegate"
                                      name          = "delegate"
                                      type          = "checkbox">
                                  </span>
                                </div> This employee is a delegate
                              </label>

                              <span class="help-inline">This will create an account for your delegate to log-in and submit exercises</span>

                            </div>

                          </div>
                       </div>
                    </div>

                 </div><!-- row-fluid -->


                  <div class="form-actions">
                    <button
                      data-ng-click = "viewModel.showAddNewEmployeeSubmit()"
                      type  = "submit"
                      class = "btn green"><i class="icon-ok m-icon-white"></i> Add Employee</button>
                    <button
                      data-ng-click = "viewModel.showAddNewEmployeeClose()"
                      type  = "button"
                      class = "btn red"><i class="icon-remove m-icon-white"></i> Cancel</button>
                  </div>
                </form>


              </div><!-- data-ng-switch-when="manual" -->
              <div data-ng-switch-when  = "csv">
                <div data-ng-controller = "ControllerWidgetEmployeeManagerUpload">


                  <table class="table table-striped table-hover table-bordered dataTable">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat = "row in csvUsersResult">
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                      </tr>
                    </tbody>
                  </table>


                  <div
                    data-file-upload
                    data-done     = "uploadComplete"
                    data-url      = "/csv-upload"
                    data-ng-model = "filename">
                    <div>
                      <input type="file" />
                      <input type="hidden" ng-model="filename" />
                      <span ng-show="filename">{{filename}}</span>
                      <span ng-show="progress" ng-hide="filename">{{progress}}%</span>
                    </div>
                  </div>



                </div>
              </div><!-- data-ng-switch-when="csv" -->
            </div>


          </div><!-- portlet-body -->
        </div><!-- portlet -->

      </div><!-- span12 -->
    </div><!-- row-fluid -->




    <div class="row-fluid">
      <div class="span12">


        <button
              style           = "margin-bottom: 5px;"
              data-ng-hide    = "viewModel.showAddNewEmployee"
              data-ng-animate = "{show: 'fadeIn', hide: 'fadeOut'}"
              data-ng-click   = "viewModel.showAddNewEmployeeOpen()"
              class           = "btn green btn-block">Add Employees <i class="m-icon-swapright m-icon-white"></i></button>


        <table
              class             = "table table-striped table-hover table-bordered dataTable"
              data-data-table   = "viewModel.employeeListDT.options"
              ao-column-defs    = "viewModel.employeeListDT.columnDefs"
              data-parent-model = "viewModel.employeeListDT"
              aa-data           = "viewModel.employees"
              fn-row-callback   = "myCallback">
          <thead>
          <tr>
              <th class = "sorting">First Name</th>
              <th class = "sorting">Last Name</th>
              <th class = "sorting">Email</th>
              <th class = "sorting">Phone Number</th>
              <th class = "sorting">Username</th>
              <th class = "sorting">Password</th>
              <th class = "sorting">Type</th>
          </tr>
          </thead>
        </table>

      </div><!-- span12 -->
    </div><!-- row-fluid -->


  </div><!-- portlet-body -->
</div>
