<div class="inline-content inline-content-responsive" style="text-align:center;">


  <div
    style = "margin-bottom:0px !important; text-align:left;"
    class = "btn-group">

    <button class="btn green detail">
      <i style="display:none;" class="m-icon-swapup m-icon-white"></i>
      <i class="m-icon-swapdown m-icon-white"></i> Edit
    </button>

    <a
      style="display:none;"
      data-ng-click = "$parent.viewModel.editEmployee('<%= uid%>')"
      data-ng-class = "{true:'black', false:'blue'}[viewModel.currentTemplate.uid == '<%= uid %>']"
      class         = "btn detail">Edit

      <i data-ng-hide="viewModel.currentEmployee.uid == '<%= uid %>'" class="m-icon-swapright m-icon-white"></i>
      <i data-ng-show="viewModel.currentEmployee.uid == '<%= uid %>'" class="m-icon-swapleft m-icon-white"></i>

    </a>

    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <!-- dropdown menu links -->
      <li >
        <a class="color-red" data-ng-click="$parent.viewModel.deleteConfirmDialogEmployee('<%= uid %>')"><i class="icon-trash"></i> Archive Employee</a>
      </li>
    </ul>
  </div>


</div>
