.widget-themis-finish.portlet.box.blue(data-animate-in    = ""
                                       data-ng-controller = "ControllerWidgetEmployeeManager")
  .portlet-title
    h4
      span Employee Manager
  .portlet-body.light-grey

    .row-fluid
      .portlet.box.grey
        .portlet-title
          h4
            span Organization Structure
        .portlet-body
          div(data-space-tree
              style           = "height:400px; background-image:url('/assets/img/tiny_grid.png');"
              data-values     = "")

    .clearfix

    .row-fluid(data-ng-hide = "viewModel.showAddNewEmployee")
      .span12
        // data-ng-class = "{span12: !viewModel.showAddNewEmployee, span6:viewModel.showAddNewEmployee}")
        .portlet.box.grey
          .portlet-title
            h4
              span Employees
          .portlet-body



            .row-fluid(data-ng-animate = "{show: 'fadeIn'}"
                       data-ng-hide    = "viewModel.showAddNewEmployee")
              .span6
                |&nbsp;
              .span6
                button.btn.green.btn-block(style         = "margin-bottom: 5px;"
                                           data-ng-click = "viewModel.showAddNewEmployeeOpen()")
                  | Add Employees
                  i.m-icon-swapright.m-icon-white



            table.table.table-striped.table-hover.table-bordered.dataTable(data-data-table                        = "viewModel.employeeListDT.options"
                                                                           ao-column-defs                         = "viewModel.employeeListDT.columnDefs"
                                                                           data-parent-model                      = "viewModel.employeeListDT"
                                                                           aa-data                                = "viewModel.employees"
                                                                           data-parent-data-table-view-model-prop = "employeeListDT"
                                                                           update-on-resource-post                = "employee"
                                                                           fn-row-callback)
              thead
                tr
                  th.sorting First Name
                  th.sorting Last Name
                  th.sorting Email
                  th.sorting Phone Number
                  th.sorting_disabled Type
                  th.sorting_disabled {{ rootClient.businessDivision0Name }}
                  th.sorting_disabled {{ rootClient.businessDivision1Name }}
                  th.sorting_disabled {{ rootClient.businessDivision2Name }}
                  th.sorting_disabled



    .row-fluid
      .span12(style          = "display:none;"
             data-ng-animate = "{show:'slideDown'}"
             data-ng-show    = "viewModel.showAddNewEmployee")
        .portlet.box.grey
          .portlet-title
            h4
              span Add Employees
            .actions
              a.btn.red(data-ng-click = "viewModel.showAddNewEmployeeClose()")
                i.icon-remove
                | Cancel

          .portlet-body.light-grey.form
            div(data-ng-show = "viewModel.addNewEmployeeMode === false")

              p(style = "width:100%;text-align:center;")
                a.btn.green.big.span6(style         = "min-height:55px;"
                                      data-ng-click = "viewModel.addNewEmployeeMode = 'manual'")
                  | Add Manually
                  i.m-icon-big-swapright.m-icon-white
                a.btn.blue.big.span6(style         = "min-height:55px;"
                                     data-ng-click = "viewModel.addNewEmployeeMode = 'csv'")
                  | CSV Upload
                  i.m-icon-big-swapright.m-icon-white

              .clearfix

            div(data-ng-switch = "viewModel.addNewEmployeeMode")

              div(data-ng-include     = "'viewPartialEmployeeManagerAddManualForm'"
                  data-ng-switch-when = "manual")

              div(data-ng-include     = "'viewPartialEmployeeManagerAddCSVForm'"
                  data-ng-switch-when = "csv")




