.inline-content.inline-content-responsive(style = "text-align:center;")
  .btn-group(style = "margin-bottom:0px !important; text-align:left;")

    //The transition of class and icon happens 
    //inside dataTable directive...

    button.btn.green.detail
      | Edit&nbsp;
      i.m-icon-swapup.m-icon-white(style = "display:none;")
      i.m-icon-swapdown.m-icon-white


    a.btn.detail(style         = "display:none;"
                 data-ng-click = "$parent.viewModel.editEmployee('<%= uid%>')"
                 data-ng-class = "{true:'black', false:'blue'}[viewModel.currentTemplate.uid == '<%= uid %>']")

    button.btn.dropdown-toggle(data-toggle = "dropdown")
      span.caret
    ul.dropdown-menu.pull-right   
     
      //dropdown menu links

      li
        a.color-red(data-ng-click = "$parent.viewModel.deleteConfirmDialogEmployee('<%= uid %>')")
          i.icon-trash
          | Archive Employee
