<div data-ng-init = "editingEmployeeUid = '<%= uid %>'">
  <div
    data-ng-controller = "ControllerWidgetEmployeeManagerEditEmployee">

    <div class="portlet box grey">
      <div class="portlet-title">
        <h4><span>Edit Employee Info</span></h4>
      </div>
      <div class="portlet-body light-grey form">

        <form
          name  = "editEmployeeForm"
          class = "horizontal-form"
          novalidate>

          <div class="row-fluid">

            <div class="span6">
              <div
                data-ng-class = "{success:editEmployeeForm.firstName.$valid, error:!editEmployeeForm.firstName.$valid, 'ng-pristine':editEmployeeForm.firstName.$pristine}"
                class         = "control-group">

                  <label class="control-label" for="firstName">First Name</label>
                  <div class="controls input-icon">

                    <input
                      data-ng-disabled  = "updateInProgress"
                      data-required
                      data-ng-model     = "viewModel.editEmployeeForm.firstName"
                      data-ng-minlength = "{{clientOrmShare.employee.model.firstName.validate.len[0]}}"
                      data-ng-maxlength = "{{clientOrmShare.employee.model.firstName.validate.len[1]}}"
                      name              = "firstName"
                      type              = "text"
                      class             = "m-wrap span10"
                      placeholder       = "Jane">

                    <span
                      data-ng-show = "editEmployeeForm.firstName.$dirty && editEmployeeForm.firstName.$valid"
                      class        = "input-success">
                      <i class="icon-ok"></i>
                    </span>

                    <span
                      data-ng-show = "editEmployeeForm.firstName.$dirty && editEmployeeForm.firstName.$invalid"
                      class        = "input-error">
                      <i class="icon-exclamation-sign"></i>
                    </span>

                    <span
                      data-ng-show="editEmployeeForm.firstName.$error.minlength"
                      class="help-inline">First name must be longer than {{clientOrmShare.employee.model.firstName.validate.len[0]}} characters</span>

                    <span
                      data-ng-show="editEmployeeForm.firstName.$error.maxlength"
                      class="help-inline">First name must be shorter than {{clientOrmShare.employee.model.firstName.validate.len[1]}} characters</span>

                  </div>
              </div>
            </div>

            <div class="span6">
              <div
                data-ng-class = "{success:editEmployeeForm.lastName.$valid, error:!editEmployeeForm.lastName.$valid, 'ng-pristine':editEmployeeForm.lastName.$pristine}"
                class         = "control-group">

                  <label
                    class="control-label"
                    for="lastName">Last Name</label>
                  <div
                    class="controls input-icon">

                    <input
                      data-ng-disabled  = "updateInProgress"
                      data-required
                      data-ng-model     = "viewModel.editEmployeeForm.lastName"
                      data-ng-minlength = "{{clientOrmShare.employee.model.lastName.validate.len[0]}}"
                      data-ng-maxlength = "{{clientOrmShare.employee.model.lastName.validate.len[1]}}"
                      name              = "lastName"
                      type              = "text"
                      class             = "m-wrap span10"
                      placeholder       = "Doe">

                    <span
                      data-ng-show = "editEmployeeForm.lastName.$dirty && editEmployeeForm.lastName.$valid"
                      class        = "input-success">
                      <i class="icon-ok"></i>
                    </span>

                    <span
                      data-ng-show = "editEmployeeForm.lastName.$dirty && editEmployeeForm.lastName.$invalid"
                      class        = "input-error">
                      <i class="icon-exclamation-sign"></i>
                    </span>


                    <span
                      data-ng-show="editEmployeeForm.lastName.$error.minlength"
                      class="help-inline">Last name must be longer than {{clientOrmShare.employee.model.lastName.validate.len[0]}} characters</span>

                    <span
                      data-ng-show="editEmployeeForm.lastName.$error.maxlength"
                      class="help-inline">Last name must be shorter than {{clientOrmShare.employee.model.lastName.validate.len[1]}} characters</span>

                  </div>
               </div>
            </div>

         </div><!-- row-fluid -->
         <div class="row-fluid">

            <div class="span6">
              <div
                data-ng-class = "{success:editEmployeeForm.email.$valid, error:!editEmployeeForm.email.$valid, 'ng-pristine':editEmployeeForm.email.$pristine}"
                class         = "control-group">

                  <label
                    class="control-label"
                    for="email">Email</label>
                  <div
                    class="controls input-icon">

                    <input
                      data-ng-disabled  = "updateInProgress"
                      data-required
                      data-ng-model     = "viewModel.editEmployeeForm.email"
                      data-unique-field = '{"resource": "employee", "property": "email"}'
                      name          = "email"
                      type          = "email"
                      class         = "m-wrap span10"
                      placeholder   = "jane@company.com">

                    <span
                      data-ng-show = "editEmployeeForm.email.$dirty && editEmployeeForm.email.$valid"
                      class        = "input-success">
                      <i class="icon-ok"></i>
                    </span>

                    <span
                      data-ng-show = "editEmployeeForm.email.$dirty && editEmployeeForm.email.$invalid"
                      class        = "input-error">
                      <i class="icon-exclamation-sign"></i>
                    </span>

                    <span
                      data-ng-show="editEmployeeForm.email.$error.email"
                      class="help-inline">Enter a valid email address</span>

                    <span
                      data-ng-show="editEmployeeForm.email.$error.uniqueField"
                      class="help-inline">Another employee with the email address <strong>{{viewModel.editEmployeeForm.email}}</strong> already exists</span>

                  </div>
               </div>
            </div>

            <div class="span6">
              <div
                data-ng-class = "{success:editEmployeeForm.phone.$valid, error:!editEmployeeForm.phone.$valid, 'ng-pristine':editEmployeeForm.phone.$pristine}"
                class         = "control-group">

                  <label class="control-label" for="phone">Phone Number</label>
                  <div class="controls input-icon">

                    <input
                      data-ng-disabled  = "updateInProgress"
                      data-required
                      data-unique-field = '{"resource": "employee", "property": "phone"}'
                      data-ui-mask  = "'999-999-9999'"
                      data-ng-model = "viewModel.editEmployeeForm.phone"
                      name          = "phone"
                      type          = "text"
                      class         = "m-wrap span10"
                      placeholder   = "999-999-9999">

                    <span
                      data-ng-show = "editEmployeeForm.phone.$dirty && editEmployeeForm.phone.$valid"
                      class        = "input-success">
                      <i class="icon-ok"></i>
                    </span>

                    <span
                      data-ng-show = "editEmployeeForm.phone.$dirty && editEmployeeForm.phone.$invalid"
                      class        = "input-error">
                      <i class="icon-exclamation-sign"></i>
                    </span>

                    <span
                      data-ng-show="editEmployeeForm.phone.$error"
                      class="help-inline">Enter a valid phone number</span>

                    <span
                      data-ng-show="editEmployeeForm.phone.$error.uniqueField"
                      class="help-inline">Another employee with the phone number <strong>{{viewModel.editEmployeeForm.phone}}</strong> already exists</span>

                  </div>
               </div>
            </div>

         </div><!-- row-fluid -->




         <div style="display:none;" class="row-fluid">

            <div class="span6">
               <div class="control-group">

                  <label class="control-label" for="delegate">Delegate</label>
                  <div class="controls">

                    <div class="controls">

                      <label class="checkbox line">
                        <div class="checker">
                          <span
                            data-ng-class = "{checked: viewModel.editEmployeeForm.delegate}"
                            data-ng-click = "viewModel.editEmployeeForm.delegate = !viewModel.editEmployeeForm.delegate"
                            class="">
                            <input
                              data-ng-model = "viewModel.editEmployeeForm.delegate"
                              name          = "delegate"
                              type          = "checkbox">
                          </span>
                        </div> This employee is a delegate
                      </label>

                      <span class="help-inline">This will create an account for your delegate to log-in and submit exercises</span>

                    </div>

                  </div>
               </div>
            </div>

         </div><!-- row-fluid -->


          <div class="form-actions">
            <button
              data-ng-disabled = "editEmployeeForm.$invalid || updateInProgress || updateActionComplete"
              data-ng-click    = "viewModel.updateEmployee()"
              type             = "submit"
              class            = "btn green pull-right"><i class="icon-pencil m-icon-white"></i>
                <span style="color:#FFF !important;" data-ng-hide="updateActionComplete">Update Employee</span>
                <span style="color:#FFF !important;" data-ng-show="updateActionComplete">Update Complete</span>
              </button>
          </div>
        </form>








      </div><!-- portlet-body -->
    </div><!-- portlet-box -->


  </div><!-- data-ng-controller -->
</div><!-- outer wrapper -->
