.widget-themis-finish.portlet.box.blue(data-animate-in    = ""
                                       data-ng-controller = "ControllerWidgetEmployeeManager")
  .portlet-title
    h4
      span Employee Manager
  .portlet-body.light-grey
    .row-fluid(data-ng-animate="{show: 'fadeIn'}", data-ng-hide="viewModel.showAddNewEmployee")
      .span6
      .span6
        button.btn.green.btn-block(style="margin-bottom: 5px;", data-ng-click="viewModel.showAddNewEmployeeOpen()")
          | Add Employees
          i.m-icon-swapright.m-icon-white
    .clearfix
    .row-fluid
      div(data-ng-class="{span12: !viewModel.showAddNewEmployee, span6:viewModel.showAddNewEmployee}")
        .portlet.box.grey
          .portlet-title
            h4
              span Employees
          .portlet-body
            table.table.table-striped.table-hover.table-bordered.dataTable(data-data-table="viewModel.employeeListDT.options", ao-column-defs="viewModel.employeeListDT.columnDefs", data-parent-model="viewModel.employeeListDT", aa-data="viewModel.employees", data-parent-data-table-view-model-prop="employeeListDT", update-on-resource-post="employee", fn-row-callback="")
              thead
                tr
                  th.sorting First Name
                  th.sorting Last Name
                  th.sorting Email
                  th.sorting Phone Number
                  th.sorting_disabled Type
                  th.sorting_disabled
          // portlet body
        // portlet box
      // span12
      .span6(style="display:none;", data-ng-animate="{show:'slideDown'}", data-ng-show="viewModel.showAddNewEmployee")
        .portlet.box.grey
          .portlet-title
            h4
              span Add Employees
            .actions
              a.btn.red(data-ng-click="viewModel.showAddNewEmployeeClose()")
                i.icon-remove
                | Cancel
          // portlet-title
          .portlet-body.light-grey.form
            div(data-ng-show="viewModel.addNewEmployeeMode === false")
              p(style="width:100%;text-align:center;")
                a.btn.green.big.span6(style="min-height:55px;", data-ng-click="viewModel.addNewEmployeeMode = 'manual'")
                  | Add Manually
                  i.m-icon-big-swapright.m-icon-white
                a.btn.blue.big.span6(style="min-height:55px;", data-ng-click="viewModel.addNewEmployeeMode = 'csv'")
                  | CSV Upload
                  i.m-icon-big-swapright.m-icon-white
              .clearfix
            // data-ng-show
            div(data-ng-switch="viewModel.addNewEmployeeMode")
              div(data-ng-include="'viewPartialEmployeeManagerAddManualForm'", data-ng-switch-when="manual")
              // data-ng-switch-when="manual"
              div(data-ng-include="'viewPartialEmployeeManagerAddCSVForm'", data-ng-switch-when="csv")
              // data-ng-switch-when="csv"
          // portlet-body
        // portlet
      // span6
    // row-fluid
  // portlet-body
