<!-- BEGIN SIDEBAR MENU -->
<ul id="sidebar_top">


  <li class="has-sub active">
    <a href="#orders/my_orders" class="">

      <i class="icon-bookmark-empty"></i>
      <span class="title">Menu Option 1</span>
      <span class="arrow"></span>
      <span class="selected"></span>

    </a>
    <ul class="sub">
      <li><a class="" href="#orders/my_orders">Sub Menu Option 1</a></li>
      <li><a class="" href="#orders/orders_to_ship">Sub Menu Option 2</a></li>
    </ul>
  </li>


  <li>
    <a href="#admin">

      <i class="icon-home"></i>
      <span class="title">Menu Option 2</span>
      <span class="arrow"></span>
      <span class="selected"></span>

    </a>
  </li>

  <li>
    <a href="#super_admin">

      <i class="icon-home"></i>
      <span class="title">Menu Option 3</span>
      <span class="arrow"></span>
      <span class="selected"></span>

    </a>
  </li>

  <li>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="sidebar-toggler hidden-phone"></div>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <br/>
  </li>

</ul>
<!-- END SIDEBAR MENU -->

