<!-- BEGIN SIDEBAR MENU -->
<ul id="sidebar_top">


  <li class="has-sub active">
    <a href="#/menu1a" class="">

      <i class="icon-bookmark-empty"></i>
      <span class="title">Menu Option 1</span>
      <span class="arrow"></span>
      <span class="selected"></span>

    </a>
    <ul class="sub">
      <li class="active"><a class="" href="#/menu1a">Sub Menu Option 1</a></li>
      <li><a class="" href="#/menu1b">Sub Menu Option 2</a></li>
    </ul>
  </li>


  <li>
    <a href="#/menu2">

      <i class="icon-home"></i>
      <span class="title">Menu Option 2</span>
      <span class="arrow"></span>
      <span class="selected"></span>

    </a>
  </li>

  <li>
    <a href="#/menu3">

      <i class="icon-home"></i>
      <span class="title">Menu Option 3</span>
      <span class="arrow"></span>
      <span class="selected"></span>

    </a>
  </li>

  <li>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="sidebar-toggler hidden-phone"></div>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <br/>
  </li>

</ul>
<!-- END SIDEBAR MENU -->

