<!-- HEADER GOES HERE -->
<div class="header navbar navbar-inverse navbar-fixed-top" data-ng-controller="ControllerWidgetCoreHeader" data-ng-include="'viewWidgetCoreHeader'"></div>



<div class="page-container row-fluid">

  <!-- LEFT MENU GOES HERE -->
  <div class="page-sidebar nav-collapse collapse" data-ng-controller="ControllerWidgetCoreLeftMenu" data-ng-include="'viewWidgetCoreLeftMenu'"></div>

  <div class="page-content">
    <!-- PAGE CONTENT GOES HERE -->
    <div class="container-fluid" data-ng-controller="ControllerCoreWidgets" data-ng-include="'viewCoreWidgets'"></div>
  </div>


</div>



<div data-ng-controller="ControllerWidgetCoreFooter" data-ng-include="'viewWidgetCoreFooter'" class="footer"></div>
