<!--
<div class="logo">
  <img src="/assets/img/vox-logo.png" alt="VOX" />
</div>
-->
<div class="logo"></div>


<div data-ng-controller="ControllerWidgetCoreLogin" class="content portlet box blue widget-themis-finish">

    <div class="portlet-title">
        <h4 style="color:#FFF;"><i class="icon-plus"></i>Themis v0.1</h4>
    </div>
    <div class="portlet-body">



      <form class="form-vertical login-form" action="" data-ng-submit="authenticate()">

        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

        <h3 class="form-title">Sign In</h3>
        <div class="control-group">
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-user"></i>
              <input
                autocorrect = "off"
                autocapitalize = "off"
                class="m-wrap"
                type="text"
                placeholder="Username"
                data-ng-model="username"
                data-ng-disabled="submitting"/>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-lock"></i>
              <input class="m-wrap" type="password" style="" placeholder="Password" data-ng-model="password" data-ng-disabled="submitting"/>
            </div>
          </div>
        </div>

        <div style="border:0; margin-bottom:0;">

          <div>



            <button
              data-ng-class    = "{true:'black',false:'green'}[submitting]"
              type             = "button"
              class            = "btn pull-right"
              data-ng-click    = "!submitting && authenticate()"
              data-ng-disabled = "submitting">

              <p data-ng-hide = "submitting">
                Login <i class="m-icon-swapright m-icon-white"></i>
              </p>
              <p data-ng-show = "submitting">
                <i class="icon-cog icon-spin"></i> Authenticating...
              </p>

            </button>




          </div>

        </div>


        <div class="clearfix"></div>


        <div style="margin-top:10px; margin-bottom:0;" class="alert alert-error" data-ng-show="errorMessage" data-ng-animate="{enter: 'slide-down'}">
          <strong>Error!</strong><br/><span>{{errorMessage}}</span>
        </div>


        <div data-ng-show="false" style="margin-top:10px;" class="forget-password">
          <h4>Forgot your password?</h4>
          <p>
            no worries, click <a href="javascript:;" class="" id="forget-password">here</a>
            to reset your password.
          </p>
        </div>


      </form>
      <!-- END LOGIN FORM -->



      <!-- BEGIN FORGOT PASSWORD FORM -->
      <form data-ng-show="false" class="form-vertical forget-form" action="index.html">
        <h3 class="">Forget Password?</h3>
        <p>Enter your e-mail address below to reset your password.</p>
        <div class="control-group">
          <div class="controls">
            <div class="input-icon left">
              <i class="icon-envelope"></i>
              <input class="m-wrap" type="text" placeholder="Email" />
            </div>
          </div>
        </div>
        <div class="form-actions">
          <a href="javascript:;" id="back-btn" class="btn">
          <i class="m-icon-swapleft"></i>  Back
          </a>
          <a href="javascript:;" id="forget-btn" class="btn green pull-right">
          Submit <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </form>




    </div>

</div>
